/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$stable :#E1E1E1 !default;
$buttonShadow: 0px 0px 5px rgba(100, 100, 100, 0.5);
// This removes the border on ion-nav-bar
.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default; // Include all of Ionic
@import "www/lib/ionic/scss/ionic";
// $playoff-green: #74F2A2;
$playoff-green: rgb(116, 242, 162);
$green-gradient-start: #5FFD9C;
$green-gradient-end: #67DBCB;
$silver-font: #A3A3A3;
$profile-bg: #F0F0F0;
$silver-border: #D5D5D5;
$swipe-bg :#FAFAFA;
//media
$breakpoint-iphone5: 320px;
$breakpoint-iphone6: 376px;
$breakpoint-iphone6plus: 414px;
$breakpoint-ipad: 768px;
// // Usually the following is retrieve from the ionic scss
@mixin flex($fg: 1, $fs: null, $fb: null) {
    -webkit-box-flex: $fg;
    -webkit-flex: $fg $fs $fb;
    -moz-box-flex: $fg;
    -moz-flex: $fg $fs $fb;
    -ms-flex: $fg $fs $fb;
    flex: $fg $fs $fb;
}

$range-default-track-bg: #ccc !default; // Multi-range css
ui-multi-range {
    @include flex(1);
    position: relative;
    height: 50px;
    input[type=range] {
        position: absolute;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0 2px;
        overflow: hidden;
        border: 0;
        border-radius: 1px;
        outline: none;
        pointer-events: none;
        &:active,
        &:focus {
            outline: none;
        }
        &::-webkit-slider-thumb {
            position: relative;
            cursor: pointer;
            pointer-events: all;
            &::before {
                content: ' ';
                display: block;
                position: absolute;
                top: 13px;
                left: 100%;
                width: 2000px;
                height: 2px;
            }
        }
        &:nth-child(2) {
            background: none;
            &::-webkit-slider-thumb::before {
                background-color: $range-default-track-bg;
            }
        }
    }
}

@font-face {
    font-family: Heebo-Bold;
    src: url(../fonts/Heebo/Heebo-Bold.ttf);
}

@font-face {
    font-family: Heebo-Regular;
    src: url(../fonts/Heebo/Heebo-Regular.ttf);
}

@font-face {
    font-family: Pragati;
    src: url(../fonts/Pragati-Narrow/PragatiNarrow-Bold.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    font-family: Heebo-Bold;
    margin: 0;
} // .platform-ios .manual-ios-statusbar-padding {
//     padding-top: 20px;
// }
// .manual-remove-top-padding {
//     padding-top: 0px;
// }
// .manual-remove-top-padding .scroll {
//     padding-top: 0px !important;
// }
// ion-list.manual-list-fullwidth div.list,
// .list.card.manual-card-fullwidth {
//     margin-left: -10px;
//     margin-right: -10px;
// }
// ion-list.manual-list-fullwidth div.list>.item,
// .list.card.manual-card-fullwidth>.item {
//     border-radius: 0px;
//     border-left: 0px;
//     border-right: 0px;
// }
// .show-list-numbers-and-dots ul {
//     list-style-type: disc;
//     padding-left: 40px;
// }
// .show-list-numbers-and-dots ol {
//     list-style-type: decimal;
//     padding-left: 40px;
// }

/* ----------------------------------- Sign up flow related CSS---------------------------------------  */

.background {
    background: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.holder {
    width: 100%;
    height: 80%;
    text-align: center;
    padding-top: 30%;
}

.header {
    h1 {
        color: #1F1F1F;
        padding-top: 20%;
        font-size: 60px;
        font-family: Pragati;
    }
    h2 {
        color: #1F1F1F;
        font-family: Heebo-Bold;
    }
    p {
        font-family: Heebo-Regular;
    }
}

.button-green {
    // background-color: $playoff-green;
    background: $green-gradient-start;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, $green-gradient-start, $green-gradient-end);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, $green-gradient-start, $green-gradient-end);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $green-gradient-start, $green-gradient-end);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $green-gradient-start, $green-gradient-end);
    /* Standard syntax */
    font-weight: 600;
    font-family: Pragati;
}

.whistle {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.buttons {
    height: 20%;
}

//     button.button-default {
// }
button {
    border-radius: 15px !important;
}

button.button-positive {
    background: $green-gradient-start;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, $green-gradient-start, $green-gradient-end);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, $green-gradient-start, $green-gradient-end);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $green-gradient-start, $green-gradient-end);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $green-gradient-start, $green-gradient-end);
}

.terms {
    text-align: center;
    font-family: Heebo-Regular;
    a {
        color: $playoff-green;
        text-decoration: none;
    }
}

.bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.text {
    padding-top: 10%;
}


/* ----------------------------------- Set up profile flow related CSS---------------------------------------  */

.input-header {
    background: #F0F0F0;
    color: #A3A3A3;
    font-family: Roboto-Regular;
    font-size: 15px;
    p {
        font-size: 14px;
    }
}

.profile {
    font-family: Roboto-Regular;
    input {
        text-align: right;
        font-family: Heebo-Bold;
    }
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: Roboto-Regular;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        font-family: Roboto-Regular;
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        font-family: Roboto-Regular;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        font-family: Roboto-Regular;
    }
    .item-select select {
        float: right;
        width: 150px;
    }
}

.profile-bg {
    background-color: $profile-bg;
}

.block {
    width: 95%;
    height: 250px;
    background-color: $profile-bg;
    margin: 0 auto;
    text-align: center;
    .top {
        height: 50%;
        width: 100%;
        .left {
            background-color: white;
            border-radius: 15px;
            float: left;
            width: 50%;
            height: 100%;
            border: 10px solid $profile-bg;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .right {
            background-color: white;
            border-radius: 15px;
            float: right;
            width: 50%;
            height: 100%;
            border: 10px solid $profile-bg;
        }
    }
}

.profile-block {
    width: 100%;
    height: 250px;
    min-height: 250px;
    .profile-img {
        width: 100%;
        height: 100px;
        float: left;
        img {
            float: left;
            padding: 5px 5px 5px 5px;
            max-width: 100%;
            max-height: 100%; // border-radius: 50%;
            // border: 3px solid #000;
        }
    }
    .profile-text {
        font-family: Roboto-Regular;
        color: $silver-font;
        margin-right: 50px;
        width: 50%;
        float: right;
    }
}

.interests {
    font-family: Roboto-Regular;
    color: $silver-font;
    font-size: 16px;
    textarea {
        // padding: 20px 20px 20px 20px;
        font-size: 16px;
        width: 100%;
    }
    .item {
        border: none;
    }
    .item-input {
        height: 75px;
        input {
            text-align: right;
        }
    }
}

//--------------------------------------------------------------------------------------//

/*------------------------------------ Tinder Cards ------------------------------------*/

//--------------------------------------------------------------------------------------//
td-cards {
    display: inherit !important;
    td-card img {
        max-width: 100%;
        max-height: 100%;
        width: 300px;
        border-radius: 20px !important;
        object-fit: cover;
    }
}

// td-card {
//     position: absolute;
//     left: 50%;
//     margin-top: 80px;
//     margin-bottom: 40px;
//     margin-left: -150px;
//     width: 300px;
//     /*height: 300px;*/
//     border: 1px solid #999;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
//     border-radius: 6px;
// }
// 
// td-card .image {
//     position: relative;
// }
.swipe-bg {
    background: url(../img/edited-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-refresh {
    display: block;
    height: 45px;
    float: left;
    width: 45px;
    border-radius: 50%;
    box-shadow: $buttonShadow;
    left: 20px;
    i {
        font-size: 2em;
    }
}

.btn-fav {
    display: block;
    height: 45px;
    float: right;
    width: 45px;
    border-radius: 50%;
    box-shadow: $buttonShadow;
    right: 20px;
    i {
        font-size: 2em;
    }
}

// It'll work now with important but later on I'll go and grab that tinder cards.css file and edit this
td-controls td-control-button {
    border: 2px solid #ecf0f1 !important;
    margin: 0 !important;
}

.caption {
    background-color: white !important;
    border: none !important;
    border-radius: 20px !important;
    bottom: auto !important;
    h2 {
        font-family: Heebo-Bold !important;
    }
    p {
        font-family: Heebo-Regular !important;
    }
}

td-cards td-card .caption .title {
    color: black !important;
}

td-cards td-card .caption .description {
    color: $silver-font !important;
    font-family: Roboto;
}

td-cards td-card img {
    border: none !important;
    border-bottom: 5px solid $swipe-bg !important;
}

.sport {
    font-family: Pragati; // display: block;
    position: absolute;
    bottom: -85px;
    right: 0px;
    background: $green-gradient-start;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, $green-gradient-start, $green-gradient-end);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, $green-gradient-start, $green-gradient-end);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $green-gradient-start, $green-gradient-end);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $green-gradient-start, $green-gradient-end);
    /* Standard syntax */
    color: black; // top: 30%;
    line-height: 60px;
    width: 120px; // height: 50px;
    text-align: center;
    font-size: 24px;
    z-index: 1;
    border-radius: 15px; //small - not used?
    @media (min-width: 1px) and (max-width: $breakpoint-iphone5) {
        top: 310px !important;
        bottom: -10px !important;
    } //iphone 5
    @media (min-width: $breakpoint-iphone5) and (max-width: $breakpoint-iphone6) {
        top: 320px !important;
        bottom: -10px !important;
    } //iphone 6
    @media (min-width: $breakpoint-iphone6) and (max-width: $breakpoint-iphone6plus) {
        top: 370px !important;
        bottom: -10px !important;
    } //iphone 6 plus
    @media (min-width: $breakpoint-iphone6) and (max-width: $breakpoint-iphone6plus) {
        top: 425px !important;
        bottom: -10px !important;
    } //tablet
    //    @media (min-width: $breakpoint-ipad) {
    //        top: 600px;
    //    }
    &.profile-card {
        top: 350px;
        bottom: 300px;
        height: 70px;
        border-radius: 15px;
    }
}

.swipe-img {
    width: 100%; // height: 370px;
    text-align: center;
    display: block;
    margin: 0 auto; //small - not used?
    @media (min-width: 1px) and (max-width: $breakpoint-iphone5) {
        height: 285px !important;
    } //iphone 5
    @media (min-width: $breakpoint-iphone5) and (max-width: $breakpoint-iphone6) {
        height: 370px !important;
    } //iphone 6
    @media (min-width: $breakpoint-iphone6) and (max-width: $breakpoint-iphone6plus) {
        height: 420px !important;
    } //iphone 6 plus
    @media (min-width: $breakpoint-iphone6plus) and (max-width: $breakpoint-ipad) {
        height: 475px !important;
    } //tablet
    @media (min-width: $breakpoint-ipad) {
        height: 700px !important;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px !important;
        border: white 5px solid !important;
    }
}

//no popup head
.match-popup {
    .popup {
        //styling for popup width, width: 300px;
        // width: 80%;
    }
    .popup-head {
        display: none;
    }
    .popup-body {
        padding: 0px;
    }
    div.row {
        padding-left: 0px;
        padding-right: 0px;
    }
    button.button-block {
        color: black;
        background-color: $playoff-green;
        font-size: 14px;
        font-weight: 500;
    }
    button.button-clear {
        text-align: center;
        display: block;
        margin: auto;
        font-size: 12px;
    }
}

//remove opacity of all popups
.popup-container>.popup {
    background: white;
    border-radius: 15px !important;
}

h5.subtle {
    font-weight: 400;
    color: #8C8C8C;
}

//--------------------------------------------------------------------------------------//

/*------------------------------------ Messages ---------------------------------------*/

//--------------------------------------------------------------------------------------//
.messages {
    h2 {
        font-family: Heebo-Bold;
    }
    p {
        font-family: Heebo-Regular;
    }
    .item {
        border: none;
    }
}

//--------------------------------------------------------------------------------------//

/*------------------------------------ Chat ---------------------------------------*/

//--------------------------------------------------------------------------------------//
.content-stable {
    .cover-row {
        float: right;
        display: block;
    }
    .messages {
        margin-bottom: 10px;
        font-family: Heebo-Regular;
        font-size: 14px;
        min-height: 30px !important;
    }
    span {
        float: right;
        min-width: 100px;
        min-height: 30px !important;
        background: $playoff-green;
        display: block;
        color: black;
        padding: 10px;
        margin-bottom: 10px;
        text-align: left;
        max-width: 240px;
        border-radius: 15px;
    }
    .other {
        span {
            float: left;
            min-width: 100px;
            min-height: 30px;
            margin-bottom: 10px;
            padding: 10px;
            text-align: left;
            color: black;
            background-color: $stable;
            background-image: none;
            border-radius: 15px;
        }
    }
    .online {
        font-family: Roboto-Regular;
        color: $silver-font;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #D5D5D5;
        i {
            color: $playoff-green;
            padding-left: 5px;
        }
    }
}

div.message {
    span {
        background: $green-gradient-start;
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left top, $green-gradient-start, $green-gradient-end);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, $green-gradient-start, $green-gradient-end);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, $green-gradient-start, $green-gradient-end);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, $green-gradient-start, $green-gradient-end);
        /* Standard syntax */
    }
}

.bar.item-input-inset .item-input-wrapper {
    background: white;
}

//profile
div.crop {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        margin: 25px 0 0 0px;
    }
}

.item-divider {
    background: $green-gradient-start;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, $green-gradient-start, $green-gradient-end);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, $green-gradient-start, $green-gradient-end);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $green-gradient-start, $green-gradient-end);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $green-gradient-start, $green-gradient-end);
    /* Standard syntax */
}

//Loading modal
.backdrop.visible.backdrop-loading.active {
    opacity: 0;
}

div.loading-container {
    background-color: rgba(196, 255, 216, 0.0);
    .loading {
        background-color: transparent;
        svg {
            stroke: $green-gradient-end;
            fill: $green-gradient-end;
            width: 200px;
            height: 200px;
        }
    }
}

.toggle.toggle-balanced input:checked+.track {
    border-color: $playoff-green; // background-color: $playoff-green;
    background: $green-gradient-start;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, $green-gradient-start, $green-gradient-end);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, $green-gradient-start, $green-gradient-end);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, $green-gradient-start, $green-gradient-end);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, $green-gradient-start, $green-gradient-end);
    /* Standard syntax */
}

.animate-show-hide.ng-hide {
    opacity: 0;
    transition: all linear 1.0s;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 1.0s;
}

.animate-if {
    // background: white;
    // padding: 10px;
    transition: all linear 1.0s;
}

.animate-if.ng-enter,
.animate-if.ng-leave {
    transition: all linear 1.0s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity: 0;
    transition: all linear 1.0s;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity: 1;
    transition: all linear 1.0s;
}