<form name="form">
    <ion-view view-title="Profile">

        <ion-nav-buttons side="right">
            <button class="button button-light" style="font-weight:bold;" ng-disabled="form.$invalid" ng-click="vm.saveButtonClick()">
                Save
            </button>
        </ion-nav-buttons>

        <ion-content>


            <div class="profile">


                NOT CURRENTLY BEING USED BECAUSE USING SETUP-1 INSTEAD NOT CURRENTLY BEING USED BECAUSE USING SETUP-1 INSTEAD NOT CURRENTLY BEING USED BECAUSE USING SETUP-1 INSTEAD NOT CURRENTLY BEING USED BECAUSE USING SETUP-1 INSTEAD NOT CURRENTLY BEING USED BECAUSE
                USING SETUP-1 INSTEAD NOT CURRENTLY BEING USED BECAUSE USING SETUP-1 INSTEAD NOT CURRENTLY BEING USED BECAUSE USING SETUP-1 INSTEAD NOT CURRENTLY BEING USED BECAUSE USING SETUP-1 INSTEAD NOT CURRENTLY BEING USED BECAUSE USING SETUP-1 INSTEAD
                NOT CURRENTLY BEING USED BECAUSE USING SETUP-1 INSTEAD NOT CURRENTLY BEING USED BECAUSE USING SETUP-1 INSTEAD
                <!-- Basic information  -->
                <!-- <div class="input-header padding">
                    BASIC INFORMATION
                </div>

                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="vm.firstName">
                </label>
                <label ng-click="vm.openBirthdayPicker()" class="item item-input">
                    <span class="input-label">Birthday</span> -->
                <!-- <input type="date" ng-model="vm.birthday"> -->
                <!-- <p style="position: absolute; right: 0px; padding-right: 20px;">{{vm.birthdayMoment.format('MM-DD-YYYY')}}</p>
                </label>

                <ion-item class="item-icon-right">
                    Profile verified
                    <i class="icon ion-checkmark icon-accessory"></i>
                </ion-item> -->



                <!-- Media-->

                <!-- <div class="input-header padding">
                    MEDIA
                </div>

                <ion-item class="item-icon-right" ui-sref="setup-2-from-edit">
                    Your Photos
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

                <ion-item class="item-icon-right" ui-sref="setup-3">
                    Your Description
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
 -->


                <!-- Detailed information  -->

                <!-- <div class="input-header padding">
                    DETAILED INFORMATION
                </div>

                <label class="item item-input item-select">
                    <span class="input-label">Preffered sport</span>
                    <select>
                        <option> Test </option>
                        <option> Test </option>
                        <option> Test </option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">School</span>
                    <input type="text" placeholder="Standford University">
                </label>


                <label class="item item-input item-select">
                    <span class="input-label">Graduation year</span>
                    <select>
                        <option> 2009 </option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">Weight</span>
                    <input type="text" placeholder="150lbs">
                </label> -->

            </div>

        </ion-content>
    </ion-view>
</form>