<ion-view view-title="Verify" hide-back-button='true'>
    <ion-nav-buttons side="right">
        <button class="button button-light" style="font-weight:bold;" ng-click="vm.continueSetup()">
            NEXT
        </button>
    </ion-nav-buttons>
    <ion-content class="background bio-content">
        <div ng-style="vm.fullDim" class="relative">

            <div class="holder-4 valign-parent" ng-style="vm.holder">
                <div class="valign-child">
                    <div class="header">
                        <div class="whistle text-center" ng-if="!vm.jerseyImage">
                            <img src="img/jersey.png">
                        </div>
                        <div class="whistle text-center" ng-if="vm.jerseyImage">
                            <img ng-src="{{vm.jerseyImage}}">
                        </div>
                        <div class="text" style="text-align: center">
                            <h2>PROVE YOU'RE AN ATHLETE</h2>
                            <p>Upload a selfie of you holding a piece of paper with "Playoff" written on it.
                                <br/>This is just for verification and no one will see it.
                                <br/>
                                <br/> After that, paste a link to your bio, team page, or an article with your name on it.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>

    <div class="padding parent-bottom full-image bio-footer">
        <div class="not-ipad">
            <button class="button button-block button-green" ng-click="vm.uploadJerseyPhoto()">
                UPLOAD PHOTO
            </button>
            <button class="button button-block button-green" ng-click="vm.submitBio()">
                SUBMIT BIO LINK
            </button>
        </div>
        <div class="ipad-only">
            <div class="row">
                <div class="col">
                    <button class="button button-block button-green" ng-click="vm.uploadJerseyPhoto()">
                        UPLOAD PHOTO
                    </button>
                </div>
                <div class="col">
                    <button class="button button-block button-green" ng-click="vm.submitBio()">
                        SUBMIT BIO LINK
                    </button>
                </div>
            </div>
        </div>
    </div>


</ion-view>