<!--Gotta put the form on top so I can validate ng-disabled button on top of navBar  -->
<form name="form">
    <ion-view view-title="Privacy Policy" ng-hide-back-button="{{vm.parseUser ? false : true}}">

        <ion-nav-buttons side="right">

            <!-- <button ng-show="vm.parseUser" ui-sref="settings" nav-direction="exit" class="button button-light" style="font-weight:bold;"> Back
            </button> -->
            <button ng-click="vm.continueSetup()" class="button button-light" style="font-weight:bold;" ng-hide="vm.isFromEditScreen"> {{vm.isFromEditScreen ? "SAVE" : "NEXT"}}
            </button>

        </ion-nav-buttons>


        <ion-content style="margin:25px 25px 0 25px">

            <h4>END USER LICENSE AGREEMENT, TERMS OF USE, & PRIVACY POLICY</h4>
            <p> This copy of Playoff Dating App ("the Software Product") and accompanying documentation is licensed and not sold. This Software Product is protected by copyright laws and treaties, as well as laws and treaties related to other forms of intellectual
                property. Playoff Dating App LLC or its subsidiaries, affiliates, and suppliers (collectively "Playoff") own intellectual property rights in the Software Product. The Licensee's ("you" or "your") license to download, use, copy, or change
                the Software Product is subject to these rights and to all the terms and conditions of this End User License Agreement ("Agreement"). </p>
            <h4>Acceptance</h4>
            <p>YOU ACCEPT AND AGREE TO BE BOUND BY THE TERMS OF THIS AGREEMENT BY SELECTING THE "ACCEPT" OPTION AND DOWNLOADING THE SOFTWARE PRODUCT OR BY INSTALLING, USING, OR COPYING THE SOFTWARE PRODUCT. YOU MUST AGREE TO ALL OF THE TERMS OF THIS AGREEMENT
                BEFORE YOU WILL BE ALLOWED TO DOWNLOAD THE SOFTWARE PRODUCT. IF YOU DO NOT AGREE TO ALL OF THE TERMS OF THIS AGREEMENT, YOU MUST SELECT "DECLINE" AND YOU MUST NOT INSTALL, USE, OR COPY THE SOFTWARE PRODUCT.</p>
            <h4>License Grant</h4>
            <p> This Agreement entitles you to install and use one copy of the Software Product. In addition, you may make one archival copy of the Software Product. The archival copy must be on a storage medium other than a hard drive, and may only be used
                for the reinstallation of the Software Product. This Agreement does not permit the installation or use of multiple copies of the Software Product, or the installation of the Software Product on more than one computer at any given time,
                on a system that allows shared used of applications, on a multi-user network, or on any configuration or system of computers that allows multiple users. Multiple copy use or installation is only allowed if you obtain an appropriate licensing
                agreement for each user and each copy of the Software Product.</p>

            <h4>Restrictions on Transfer</h4>
            <p>Without first obtaining the express written consent of Playoff, you may not assign your rights and obligations under this Agreement, or redistribute, encumber, sell, rent, lease, sublicense, or otherwise transfer your rights to the Software
                Product.
            </p>

            <h4>Restrictions on Use</h4>
            You may not use, copy, or install the Software Product on any system with more than one computer, or permit the use, copying, or installation of the Software Product by more than one user or on more than one computer. If you hold multiple, validly licensed
            copies, you may not use, copy, or install the Software Product on any system with more than the number of computers permitted by license, or permit the use, copying, or installation by more users, or on more computers than the number permitted
            by license. You may not decompile, "reverse-engineer", disassemble, or otherwise attempt to derive the source code for the Software Product. You may not use the database portion of the Software Product in connection with any software other
            than the Software Product.

            <h4>Restrictions on Alteration</h4>
            <p>You may not modify the Software Product or create any derivative work of the Software Product or its accompanying documentation. Derivative works include but are not limited to translations. You may not alter any files or libraries in any
                portion of the Software Product. You may not reproduce the database portion or create any tables or reports relating to the database portion. </p>

            <h4>Restrictions on User-Generated Content</h4>
            <p>By using this software, you agree to not upload any potentially offensive content, including but not limited to pornography, suggestive material, or profane verbiage. Doing so may result in an immediate ban from the app.</p>

            <h4>Restrictions on Copying</h4>
            <p>You may not copy any part of the Software Product except to the extent that licensed use inherently demands the creation of a temporary copy stored in computer memory and not permanently affixed on storage medium. You may make one archival
                copy which must be stored on a medium other than a computer hard drive.</p>

            <h4>Disclaimer of Warranties and Limitation of Liability</h4>
            <p>UNLESS OTHERWISE EXPLICITLY AGREED TO IN WRITING BY PLAYOFF, PLAYOFF MAKES NO OTHER WARRANTIES, EXPRESS OR IMPLIED, IN FACT OR IN LAW, INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE
                OTHER THAN AS SET FORTH IN THIS AGREEMENT OR IN THE LIMITED WARRANTY DOCUMENTS PROVIDED WITH THE SOFTWARE PRODUCT.</p>

            <p>Playoff makes no warranty that the Software Product will meet your requirements or operate under your specific conditions of use. Playoff makes no warranty that operation of the Software Product will be secure, error free, or free from interruption.
                YOU MUST DETERMINE WHETHER THE SOFTWARE PRODUCT SUFFICIENTLY MEETS YOUR REQUIREMENTS FOR SECURITY AND UNINTERRUPTABILITY. YOU BEAR SOLE RESPONSIBILITY AND ALL LIABILITY FOR ANY LOSS INCURRED DUE TO FAILURE OF THE SOFTWARE PRODUCT TO MEET
                YOUR REQUIREMENTS. PLAYOFF WILL NOT, UNDER ANY CIRCUMSTANCES, BE RESPONSIBLE OR LIABLE FOR THE LOSS OF DATA ON ANY COMPUTER OR INFORMATION STORAGE DEVICE. This is a RocketLawyer.com document. UNDER NO CIRCUMSTANCES SHALL PLAYOFF, ITS DIRECTORS,
                OFFICERS, EMPLOYEES OR AGENTS BE LIABLE TO YOU OR ANY OTHER PARTY FOR INDIRECT, CONSEQUENTIAL, SPECIAL, INCIDENTAL, PUNITIVE, OR EXEMPLARY DAMAGES OF ANY KIND (INCLUDING LOST REVENUES OR PROFITS OR LOSS OF BUSINESS) RESULTING FROM THIS
                AGREEMENT, OR FROM THE FURNISHING, PERFORMANCE, INSTALLATION, OR USE OF THE SOFTWARE PRODUCT, WHETHER DUE TO A BREACH OF CONTRACT, BREACH OF WARRANTY, OR THE NEGLIGENCE OF PLAYOFF OR ANY OTHER PARTY, EVEN IF PLAYOFF IS ADVISED BEFOREHAND
                OF THE POSSIBILITY OF SUCH DAMAGES. TO THE EXTENT THAT THE APPLICABLE JURISDICTION LIMITS PLAYOFF'S ABILITY TO DISCLAIM ANY IMPLIED WARRANTIES, THIS DISCLAIMER SHALL BE EFFECTIVE TO THE MAXIMUM EXTENT PERMITTED.</p>

            <h4>Limitation of Remedies and Damages</h4>
            <p>Your remedy for a breach of this Agreement or of any warranty included in this Agreement is the correction or replacement of the Software Product. Selection of whether to correct or replace shall be solely at the discretion of Playoff. Playoff
                reserves the right to substitute a functionally equivalent copy of the Software Product as a replacement. If Playoff is unable to provide a replacement or substitute Software Product or corrections to the Software Product, your sole alternate
                remedy shall be a refund of the purchase price for the Software Product exclusive of any costs for shipping and handling. Any claim must be made within the applicable warranty period. All warranties cover only defects arising under normal
                use and do not include malfunctions or failure resulting from misuse, abuse, neglect, alteration, problems with electrical power, acts of nature, unusual temperatures or humidity, improper installation, or damage determined by Playoff
                to have been caused by you. All limited warranties on the Software Product are granted only to you and are non-transferable. You agree to indemnify and hold Playoff harmless from all claims, judgments, liabilities, expenses, or costs arising
                from your breach of this Agreement and/or acts or omissions.</p>

            <h4>Governing Law, Jurisdiction and Costs</h4>
            <p>This Agreement is governed by the laws of California, without regard to California's conflict or choice of law provisions. Severability If any provision of this Agreement shall be held to be invalid or unenforceable, the remainder of this
                Agreement shall remain in full force and effect. To the extent any express or implied restrictions are not permitted by applicable laws, these express or implied restrictions shall remain in force and effect to the maximum extent permitted
                by such applicable laws.</p>
            <br/>
            <br/>
            <p>
                <strong>Terms and Conditions</strong>
            </p>
            <p>
                <strong>Agreement between User and Playoff Dating App</strong>
            </p>
            <p>Welcome to Playoff Dating App. The Playoff Dating App website (
                <a href="http://www.playoffdatingapp.com">www.playoffdatingapp.com</a>) and application are comprised of various web pages operated by Playoff Dating App ("Playoff" or &ldquo;the Service&rdquo;). Playoff Dating App is offered to you conditioned on your acceptance without modification
                of the terms, conditions, and notices contained herein (the "Terms"). Your use of Playoff Dating App constitutes your agreement to all such Terms. Please read these terms carefully, and keep a copy of them for your reference.</p>
            <p>Playoff Dating App is an Online Dating Service.</p>
            <p>Playoff Dating App is a dating service for current and former college and professional athletes. Playoff will offer a free version, as well as a premium version that will cost $7.99/mo.</p>
            <p>
                <strong>Privacy</strong>
            </p>
            <p>Your use of Playoff is subject to Playoff's Privacy Policy. Please review our Privacy Policy, which also governs the Service and informs users of our data collection practices.</p>
            <p>
                <strong>Electronic Communications</strong>
            </p>
            <p>Visiting
                <a href="http://www.playoffdatingapp.com">www.playoffdatingapp.com</a>, using the Playoff Dating App, or sending emails to Playoff constitutes electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures and
                other communications that we provide to you electronically, via email and on the Service, satisfy any legal requirement that such communications be in writing.</p>
            <p>
                <strong>Your Account</strong>
            </p>
            <p>In order to use Playoff, you will sign in using your Facebook login. If you do so, you authorize us to access and use certain Facebook account information, including but not limited to your public Facebook profile and information about Facebook
                friends you share in common with other Playoff users. If you would like more information regarding the information Playoff collects from its users, please refer to our Privacy Policy.</p>
            <p>If you use the Service, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account
                or password. You may not assign or otherwise transfer your account to any other person or entity.</p>
            <p>You acknowledge that Playoff is not responsible for third party access to your account that results from theft or misappropriation of your account. Playoff and its associates reserve the right to refuse or cancel service, terminate accounts,
                or remove or edit content in our sole discretion.</p>
            <p>By creating an account on Playoff, you agree to:</p>
            <ul>
                <li>Use the Service in a professional manner</li>
                <li>Use your real name and identity</li>
                <li>Comply with all laws including, but not limited to, privacy laws, intellectual property laws, anti-spam laws, equal opportunity laws and regulatory requirements</li>
            </ul>
            <p>By creating an account on Playoff, you agree that you will not:</p>
            <ul>
                <li>Act in an unlawful or unprofessional manner including being dishonest, abusive or discriminatory</li>
                <li>Misrepresent your identity, your current or previous positions, qualifications or affiliations with a person or entity</li>
                <li>Disclose information that you do not have the consent to disclose</li>
            </ul>
            <p>
                <strong>User Eligibility</strong>
            </p>
            <p>Playoff does not knowingly collect, either online or offline, personal information from persons under the age of eighteen. You must be 18 or older to create an account on Playoff.</p>
            <p>By creating an account and using the Service, you represent and warrant that:</p>
            <ul>
                <li>You can form a binding contract with Playoff,</li>
                <li>You will comply with these Terms and all applicable local, state, national and international laws, rules and regulations</li>
                <li>You have never been convicted of a felony and that you are not required to register as a sex offender with any state, federal or local sex offender registry.</li>
            </ul>
            <p>
                <strong>Links to Third Party Sites/Third Party Services</strong>
            </p>
            <p>Playoff may contain links to other websites ("Linked Sites"). The Linked Sites are not under the control of Playoff and Playoff is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked
                Site, or any changes or updates to a Linked Site. Playoff is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Playoff of the site or any association with its operators.</p>
            <p>
                <strong>No Unlawful or Prohibited Use/Intellectual Property</strong>
            </p>
            <p>You are granted a non-exclusive, non-transferable, revocable license to access and use Playoff strictly in accordance with these terms of use. As a condition of your use of the Service, you warrant to Playoff that you will not use the Service
                for any purpose that is unlawful or prohibited by these Terms. You may not use the Service in any manner which could damage, disable, overburden, or impair the Service or interfere with any other party's use and enjoyment of the Service.
                You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Service.</p>
            <p>All content included as part of the Service, such as text, graphics, logos, images, as well as the compilation thereof, and any software used on the Service, is the property of Playoff or its suppliers and protected by copyright and other
                laws that protect intellectual property and proprietary rights. You agree to observe and abide by all copyright and other proprietary notices, legends or other restrictions contained in any such content and will not make any changes thereto.</p>
            <p>You will not modify, publish, transmit, reverse engineer, participate in the transfer or sale, create derivative works, or in any way exploit any of the content, in whole or in part, found on the Service. Playoff content is not for resale.
                Your use of the Service does not entitle you to make any unauthorized use of any protected content, and in particular you will not delete or alter any proprietary rights or attribution notices in any content. You will use protected content
                solely for your personal use, and will make no other use of the content without the express written permission of Playoff and the copyright owner. You agree that you do not acquire any ownership rights in any protected content. We do not
                grant you any licenses, express or implied, to the intellectual property of Playoff or our licensors except as expressly authorized by these Terms.</p>
            <p>
                <strong>Rights Granted to You by Playoff</strong>
            </p>
            <p>Playoff grants you a personal, worldwide, royalty-free, non-assignable, nonexclusive, revocable, and non-sublicensable license to access and use the Services. This license is for the sole purpose of letting you use and enjoy the Services&rsquo;
                benefits as intended by Playoff and permitted by this Agreement. Therefore, you agree not to:</p>
            <ul>
                <li>Use the Service or any content contained in the Service for any commercial purposes without our written consent.</li>
                <li>Copy, modify, transmit, create any derivative works from, make use of, or reproduce in any way any copyrighted material, images, trademarks, trade names, service marks, or other intellectual property, content or proprietary information
                    accessible through the Service without Playoff&rsquo;s prior written consent.</li>
                <li>Express or imply that any statements you make are endorsed by Playoff.</li>
                <li>Use any robot, bot, spider, crawler, scraper, site search/retrieval application, proxy or other manual or automatic device, method or process to access, retrieve, index, &ldquo;data mine,&rdquo; or in any way reproduce or circumvent the
                    navigational structure or presentation of the Service or its contents.</li>
                <li>Use the Services in any way that could interfere with, disrupt or negatively affect the Service or the servers or networks connected to the Service.</li>
                <li>Upload viruses or other malicious code or otherwise compromise the security of the Services.</li>
                <li>Forge headers or otherwise manipulate identifiers in order to disguise the origin of any information transmitted to or through the Service.</li>
                <li>&ldquo;Frame&rdquo; or &ldquo;mirror&rdquo; any part of the Service without Playoff&rsquo;s prior written authorization.</li>
                <li>Use meta tags or code or other devices containing any reference to Playoff or the Service (or any trademark, trade name, service mark, logo or slogan of Playoff) to direct any person to any other website for any purpose.</li>
                <li>Modify, adapt, sublicense, translate, sell, reverse engineer, decipher, decompile or otherwise disassemble any portion of the Service, or cause others to do so.</li>
                <li>Use or develop any third-party applications that interact with the Services or other users&rsquo; content or information without our written consent.</li>
                <li>Use, access, or publish the Playoff application programming interface without our written consent.</li>
                <li>Probe, scan or test the vulnerability of our Services or any system or network.</li>
                <li>Encourage or promote any activity that violates this Agreement.</li>
            </ul>
            <p>
                <strong>Rights You Grant Playoff</strong>
            </p>
            <p>By creating an account, you grant to Playoff a worldwide, transferable, sub-licensable, royalty-free, right and license to host, store, use, copy, display, reproduce, adapt, edit, publish, modify and distribute information you authorize us
                to access from Facebook, as well as any information you post, upload, display or otherwise make available (collectively, &ldquo;post&rdquo;) on the Service or transmit to other users (collectively, &ldquo;Content&rdquo;). Our license to
                your Content is subject to your rights under applicable law (for example laws regarding personal data protection to the extent any Content contains personal information as defined by those laws) and is for the limited purpose of operating,
                developing, providing, and improving the Service and researching and developing new ones. You agree that any Content you place or that you authorize us to place on the Service may be viewed by other users and may be viewed by any person
                visiting or participating in the Service (such as individuals who may receive shared Content from other Playoff users).</p>
            <p>You agree that all information that you submit upon creation of your account, including information submitted from your Facebook account, is accurate and truthful and you have the right to post the Content on the Service and grant the license
                to Playoff above.</p>
            <p>You understand and agree that we may monitor or review any Content you post as part of a Service. We may delete any Content, in whole or in part, that in our sole judgment violates this Agreement or may harm the reputation of the Service.</p>
            <p>When communicating with our customer care representatives, you agree to be respectful and kind. If we feel that your behavior towards any of our customer care representatives or other employees is at any time threatening or offensive, we reserve
                the right to immediately terminate your account.</p>
            <p>In consideration for Playoff allowing you to use the Services, you agree that we, our affiliates, and our third-party partners may place advertising on the Services. By submitting suggestions or feedback to Playoff regarding our Services,
                you agree that Playoff may use and share such feedback for any purpose without compensating you.</p>
            <p>You agree that Playoff may access, preserve and disclose your account information and Content if required to do so by law or in a good faith belief that such access, preservation or disclosure is reasonably necessary, such as to: (i) comply
                with legal process; (ii) enforce this Agreement; (iii) respond to claims that any Content violates the rights of third parties; (iv) respond to your requests for customer service; or (v) protect the rights, property or personal safety
                of Playoff, its employees or any other person.</p>
            <p>Playoff may investigate and take any available legal action in response to illegal and/ or unauthorized uses of the Service, including termination of your account.</p>
            <p>Any software that we provide you may automatically download and install upgrades, updates, or other new features. You may be able to adjust these automatic downloads through your device&rsquo;s settings.</p>
            <p>
                <strong>Use of Communication Services</strong>
            </p>
            <p>The Service contains message areas designed to enable you to communicate with other users (the &ldquo;Communication Services&rdquo;). Users may only communicate with one another once they have both shown interest and &ldquo;liked&rdquo; each
                other. This also means that they both have to &ldquo;swipe right&rdquo; on one another. You agree to use the Communication Services only to post, send and receive messages and material that are proper and related to the particular Communication
                Service.
            </p>
            <p>By way of example, and not as a limitation, you agree that when using a Communication Service, you will not: defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others;
                publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information; upload files that contain software or other material protected by
                intellectual property laws (or by rights of privacy of publicity) unless you own or control the rights thereto or have received all necessary consents; upload files that contain viruses, corrupted files, or any other similar software or
                programs that may damage the operation of another's computer; advertise or offer to sell or buy any goods or services for any business purpose, unless such Communication Service specifically allows such messages; conduct or forward surveys,
                contests, pyramid schemes or chain letters; download any file posted by another user of a Communication Service that you know, or reasonably should know, cannot be legally distributed in such manner; falsify or delete any author attributions,
                legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded; restrict or inhibit any other user from using and enjoying the Communication
                Services; violate any code of conduct or other guidelines which may be applicable for any particular Communication Service; harvest or otherwise collect information about others, including e-mail addresses, without their consent; violate
                any applicable laws or regulations.</p>
            <p>Playoff has no obligation to monitor the Communication Services. However, Playoff reserves the right to review materials posted to a Communication Service and to remove any materials in its sole discretion. Playoff reserves the right to terminate
                your access to any or all of the Communication Services at any time without notice for any reason whatsoever.</p>
            <p>Playoff reserves the right at all times to disclose any information as necessary to satisfy any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole
                or in part, in Playoff's sole discretion.</p>
            <p>Always use caution when giving out any personally identifying information about yourself or your children in any Communication Service. Playoff does not control or endorse the content, messages or information found in any Communication Service
                and, therefore, Playoff specifically disclaims any liability with regard to the Communication Services and any actions resulting from your participation in any Communication Service. Please be advised that you should never give financial
                information (for example, credit card or bank account information) to another user.</p>
            <p>Materials uploaded to a Communication Service may be subject to posted limitations on usage, reproduction and/or dissemination. You are responsible for adhering to such limitations if you upload the materials.</p>
            <p>
                <strong>Safety and Interaction with Other Users</strong>
            </p>
            <p>You agree to use extreme caution when interacting with other users, particularly when agreeing to communicate outside of the Service or meet in person. As a user, you have the ability to &ldquo;Block&rdquo; or &ldquo;Report&rdquo; any unwelcome
                users or interactions with a user at any time.</p>
            <p>YOU ARE SOLELY RESPONSIBLE FOR YOUR INTERACTIONS WITH OTHER USERS. YOU UNDERSTAND THAT PLAYOFF DOES NOT CONDUCT CRIMINAL BACKGROUND CHECKS ON ITS USERS OR OTHERWISE INQUIRE INTO THE BACKGROUND OF ITS USERS. PLAYOFF MAKES NO REPRESENTATIONS
                OR WARRANTIES AS TO THE CONDUCT OF USERS. PLAYOFF RESERVES THE RIGHT TO CONDUCT ANY CRIMINAL BACKGROUND CHECK OR OTHER SCREENINGS (SUCH AS SEX OFFENDER REGISTER SEARCHES) AT ANY TIME USING AVAILABLE PUBLIC RECORDS.</p>
            <p>
                <strong>Materials Provided to Playoff Dating App or Posted on Any Playoff Web Page</strong>
            </p>
            <p>Playoff does not claim ownership of the materials you provide to Playoff Dating App (including feedback and suggestions) or post, upload, input or submit to any Playoff Site or our associated services (collectively "Submissions"). However,
                by posting, uploading, inputting, providing or submitting your Submission you are granting Playoff, our affiliated companies and necessary sublicensees permission to use your Submission in connection with the operation of their Internet
                businesses including, without limitation, the rights to: copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate and reformat your Submission; and to publish your name in connection with your Submission.</p>
            <p>No compensation will be paid with respect to the use of your Submission, as provided herein. Playoff is under no obligation to post or use any Submission you may provide and may remove any Submission at any time in Playoff's sole discretion.</p>
            <p>By posting, uploading, inputting, providing or submitting your Submission you warrant and represent that you own or otherwise control all of the rights to your Submission as described in this section including, without limitation, all the
                rights necessary for you to provide, post, upload, input or submit the Submissions.</p>
            <p>
                <strong>International Users</strong>
            </p>
            <p>The Service is controlled, operated and administered by Playoff from our offices within the USA. If you access the Service from a location outside the USA, you are responsible for compliance with all local laws. You agree that you will not
                use the Playoff Content accessed through Playoff Dating App in any country or in any manner prohibited by any applicable laws, restrictions or regulations.</p>
            <p>
                <strong>In App Purchases</strong>
            </p>
            <p>Playoff may offer products and services for purchase (&ldquo;in app purchases&rdquo;) through iTunes, Google Play or other application platforms authorized by Playoff (each, a &ldquo;Software Store&rdquo;). If you choose to make an in app
                purchase, you will be prompted to enter details for your account with your Software Store (&ldquo;your In App Purchase Account&rdquo; or &ldquo;IAP Account&rdquo;), and your IAP Account will be charged for the in app purchase in accordance
                with the terms disclosed to you at the time of purchase as well as the general terms for in app purchases that apply to your IAP Account. Some Software Stores may charge you sales tax, depending on where you live. If you purchase an auto-recurring
                periodic subscription through an in app purchase, your IAP Account will be billed continuously for the subscription until you cancel. After your initial subscription commitment period, and again after any subsequent subscription period,
                your subscription will automatically continue for an additional equivalent period, at the price you agreed to when subscribing. If you do not wish your subscription to renew automatically, or if you want to change or terminate your subscription,
                you will need to log in to your IAP account and follow instructions to cancel your subscription, even if you have otherwise deleted your account with us or the Playoff application from your device.</p>
            <p>
                <strong>Indemnification</strong>
            </p>
            <p>You agree to indemnify, defend and hold harmless Playoff, its officers, directors, employees, agents and third parties, for any losses, costs, liabilities and expenses (including reasonable attorney's fees) relating to or arising out of your
                use of or inability to use the Service, any user postings made by you, your violation of any terms of this Agreement or your violation of any rights of a third party, or your violation of any applicable laws, rules or regulations. Playoff
                reserves the right, at its own cost, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with Playoff in asserting any available defenses.</p>
            <p>
                <strong>Arbitration</strong>
            </p>
            <p>In the event the parties are not able to resolve any dispute between them arising out of or concerning these Terms and Conditions, or any provisions hereof, whether in contract, tort, or otherwise at law or in equity for damages or any other
                relief, then such dispute shall be resolved only by final and binding arbitration pursuant to the Federal Arbitration Act, conducted by a single neutral arbitrator and administered by the American Arbitration Association, or a similar
                arbitration service selected by the parties, in a location mutually agreed upon by the parties. The arbitrator's award shall be final, and judgment may be entered upon it in any court having jurisdiction. In the event that any legal or
                equitable action, proceeding or arbitration arises out of or concerns these Terms and Conditions, the prevailing party shall be entitled to recover its costs and reasonable attorney's fees. The parties agree to arbitrate all disputes and
                claims in regards to these Terms and Conditions or any disputes arising as a result of these Terms and Conditions, whether directly or indirectly, including Tort claims that are a result of these Terms and Conditions. The parties agree
                that the Federal Arbitration Act governs the interpretation and enforcement of this provision. The entire dispute, including the scope and enforceability of this arbitration provision shall be determined by the Arbitrator. This arbitration
                provision shall survive the termination of these Terms and Conditions.</p>
            <p>
                <strong>Liability Disclaimer</strong>
            </p>
            <p>THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE SERVICE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. PLAYOFF DATING APP AND/OR ITS SUPPLIERS
                MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE SERVICE AT ANY TIME.</p>
            <p>PLAYOFF DATING APP AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED ON THE SERVICE FOR ANY
                PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF ANY KIND. PLAYOFF DATING APP AND/OR ITS SUPPLIERS
                HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE
                AND NON-INFRINGEMENT.</p>
            <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL PLAYOFF DATING APP AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT
                LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE SERVICE, WITH THE DELAY OR INABILITY TO USE THE SERVICE OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO
                PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE SERVICE, OR OTHERWISE ARISING OUT OF THE USE OF THE SERVICE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY
                OR OTHERWISE, EVEN IF PLAYOFF DATING APP OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES,
                THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE SERVICE, OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SERVICE.</p>
            <p>
                <strong>Termination/Access Restriction</strong>
            </p>
            <p>Playoff reserves the right, in its sole discretion, to terminate your access to the Service and the related services or any portion thereof at any time, without notice. To the maximum extent permitted by law, this agreement is governed by
                the laws of the State of California and you hereby consent to the exclusive jurisdiction and venue of courts in California in all disputes arising out of or relating to the use of the Service. Use of the Service is unauthorized in any
                jurisdiction that does not give effect to all provisions of these Terms, including, without limitation, this section.</p>
            <p>You agree that no joint venture, partnership, employment, or agency relationship exists between you and Playoff as a result of this agreement or use of the Service. Playoff's performance of this agreement is subject to existing laws and legal
                process, and nothing contained in this agreement is in derogation of Playoff's right to comply with governmental, court and law enforcement requests or requirements relating to your use of the Service or information provided to or gathered
                by Playoff with respect to such use. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above,
                then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect.</p>
            <p>Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and Playoff with respect to the Service and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral
                or written, between the user and Playoff with respect to the Service. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to
                this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. It is the express wish to the parties that this agreement and all related
                documents be written in English.</p>
            <p>
                <strong>Changes to Terms</strong>
            </p>
            <p>Playoff reserves the right, in its sole discretion, to change the Terms under which Playoff Dating App is offered. The most current version of the Terms will supersede all previous versions. Playoff encourages you to periodically review the
                Terms to stay informed of our updates.</p>
            <p>
                <strong>Contact Us</strong>
            </p>
            <p>Playoff welcomes your questions or comments regarding the Terms:</p>
            <p>Playoff Dating App</p>
            <p>
                <a href="http://www.playoffdatingapp.com/contactus">www.playoffdatingapp.com/contactus</a>
            </p>
            <p>Email Address:</p>
            <p>
                <a href="mailto:marketing@playoffdatingapp.com">marketing@playoffdatingapp.com</a>
            </p>
            <p>Effective as of October 01, 2017</p>

            <br>
            <br>
            <p>
                <strong>Playoff Dating App Privacy Policy</strong>
            </p>
            <p>Protecting your private information is our priority. This Statement of Privacy applies to the Playoff Dating App and
                <a href="http://www.playoffdatingapp.com">www.playoffdatingapp.com</a> and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Playoff Dating App include &ldquo;Playoff&rdquo;, &ldquo;We&rdquo;, and &ldquo;the App&rdquo;.
                Playoff is a dating app. By using the Playoff Dating App, you consent to the data practices described in this statement.</p>
            <p>
                <strong>Collection of Personal Information</strong>
            </p>
            <p>Playoff may collect personally identifiable information from users, such as your:</p>
            <ul>
                <li>Name</li>
                <li>Address</li>
                <li>Email Address</li>
                <li>Date of Birth</li>
                <li>Sexual Preference</li>
                <li>Photographs</li>
                <li>Location</li>
            </ul>
            <p>If you purchase Playoff&rsquo;s products or services, We collect billing and credit card information. This information is used to complete the purchase transaction.</p>
            <p>Playoff may also collect anonymous demographic information, which is unique to your, such as your:</p>
            <ul>
                <li>Age</li>
                <li>Gender</li>
            </ul>
            <p>We may gather additional personal or non-personal information in the future.</p>
            <p>Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through a Playoff public account, or messages with other users, this information may be seen, collected and used by others.</p>
            <p>Playoff encourages you to read and review the privacy statements of the websites you choose to link to from Playoff so that you can understand how those websites collect, use, and share your personal information. Playoff is not responsible
                for the privacy statements or other content on websites outside of the Playoff website and application.</p>
            <p>
                <strong>Use of your Personal Information</strong>
            </p>
            <p>Playoff collects and uses your personal information to operate its website and application and deliver the services you have requested.</p>
            <p>Playoff may also use your personal identifiable information to inform you of other products or services available from Playoff and its affiliates. Playoff may also contact you via surveys to conduct research about your opinion of current services
                or of potential new services that may be offered.</p>
            <p>Playoff does not sell, rent or lease its customer lists to third parties.</p>
            <p>Playoff may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information (e-mail, name, address, telephone
                number) is not transferred to the third party. Playoff may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties
                are prohibited from using your personal information except to provide these services to Playoff, and they are required to maintain the confidentiality of your information.</p>
            <p>Playoff may keep track of the websites and pages our users visit within Playoff, in order to determine what Playoff services are the most popular. This data is used to deliver customized content and advertising within Playoff to customers
                whose behavior indicates that they are interested in a particular subject area.</p>
            <p>Playoff will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Playoff
                or the site; (b) protect and defend the rights or property of Playoff; and, (c) act under exigent circumstances to protect the personal safety of users of Playoff, or the public.</p>
            <p>
                <strong>Automatically Collected Information</strong>
            </p>
            <p>Information about your computer hardware and software may be automatically collected by Playoff. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used
                for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Playoff website.</p>
            <p>
                <strong>Use of Cookies</strong>
            </p>
            <p>The Playoff website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer.
                Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.</p>
            <p>One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize Playoff pages, or register
                with Playoff site or services, a cookie helps Playoff to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on.
                When you return to the same Playoff website, the information you previously provided can be retrieved, so you can easily use the Playoff features that you customized.</p>
            <p>You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully
                experience the interactive features of the Playoff services or websites you visit.</p>
            <p>
                <strong>Security of your Personal Information</strong>
            </p>
            <p>Playoff secures your personal information from unauthorized access, use, or disclosure. Playoff uses the following methods for this purpose:</p>
            <ul>
                <li>SSL protocol</li>
            </ul>
            <table cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <p>When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.</p>
            <p>
                <strong>Users Under Eighteen</strong>
            </p>
            <p>Playoff does not knowingly collect personally identifiable information from users under the age of eighteen. If you are under the age of eighteen, you are not permitted&nbsp;to use this website or application.</p>
            <p>
                <strong>Opt-Out &amp; Unsubscribe</strong>
            </p>
            <p>We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from Playoff by contacting us here:</p>
            <ul>
                <li>
                    <a href="http://www.playoffdatingapp.com/contactus">www.playoffdatingapp.com/contactus</a>
                </li>
                <li>
                    <a href="mailto:marketing@playoffdatingapp.com">marketing@playoffdatingapp.com</a>
                </li>
            </ul>
            <p>
                <strong>Changes to this Statement</strong>
            </p>
            <p>Playoff will occasionally update this Statement of Privacy to reflect company and customer feedback. Playoff encourages you to periodically review this Statement to be informed of how Playoff is protecting your information.</p>
            <p>
                <strong>Contact Information</strong>
            </p>
            <p>Playoff welcomes your questions or comments regarding this Statement of Privacy. If you believe that Playoff has not adhered to this Statement, please contact Playoff at:</p>
            <p>Playoff Dating App</p>
            <p>
                <a href="mailto:marketing@playoffdatingapp.com">marketing@playoffdatingapp.com</a>
            </p>
            <p>Effective as of October 01, 2017</p>
            <p>Ruwix is the best place to learn about the Worlds best selling puzzle toys. Go and check it out
                <a href="https://ruwix.com/" rel="nofollow noopener">here</a>!</p>
        </ion-content>

    </ion-view>

</form>