<ion-modal-view>
    <ion-content class="padding-top-20">
        <div class='row border-bottom-gray row-center'>
            <div class='col'>
                <input type="text" class="full-image text-left stable-bg school-input" ng-model="vm.searchedSchool" placeholder="Search a School to swipe from"
                    ng-change="vm.filterSchools()" ng-model-options="{'debounce':500}">
            </div>
            <!-- <div class="col col-20 text-center" ng-if="!vm.selectedSchool.length" ng-click="closeSchoolModal()">Cancel</div> -->
            <div class="col col-20 text-center" ng-click="closeSchoolModal();vm.saveProfile(false)">Close</div>
        </div>
        <ion-list>
            <ion-item class="item-icon-right" ng-repeat="school in vm.selectedSchool">
                <i class="icon ion-close" ng-click="vm.removeFromSelectedSchool(school)"></i> {{school}}
            </ion-item>
        </ion-list>
        <ion-list class="" ng-if="vm.showFilteredResults">
            <ion-item class="item-text-wrap" ng-repeat="school in vm.schoolArray|filter: vm.searchedSchool" ng-click="vm.setSchool(school)">{{school}}</ion-item>
        </ion-list>
        <div class='row' ng-if="!vm.selectedSchool.length">
            <div class='col text-center text-large gray'>
                Selecting from all schools
            </div>
        </div>
        <div class='row row-no-padding' ng-if="!vm.selectedSchool.length">
            <div class='col text-center gray text-small'>
                Search and select school for targeted search
            </div>
        </div>


    </ion-content>
</ion-modal-view>