<ion-modal-view>
    <ion-content class="padding-top-20">
        <div class='row border-bottom-gray row-center'>
            <div class='col'>
                <input type="text" class="full-image text-left stable-bg school-input" ng-model="vm.searchedLocation" placeholder="Search a Location to swipe from"
                     ng-model-options="{'debounce':500}">
            </div>
            <!-- <div class="col col-20 text-center" ng-if="!vm.selectedSchool.length" ng-click="closeSchoolModal()">Cancel</div> -->
            <div class="col col-20 text-center" ng-click="closeLocationModal();vm.saveProfile(false)">Close</div>
        </div>
        <div class="autocomplete-suggestions">
            <ion-list>
              <ion-item ng-show="search.error" class="bold">
                {{search.error}}
              </ion-item>
              <ion-item ng-repeat="suggestion in search.suggestions" ng-click="choosePlace(suggestion)">
                {{suggestion.description}}
              </ion-item>
            </ion-list>
          </div>
        <div class='row' ng-if="!search.suggestions.length">
            <div class='col text-center text-large gray'>
                Selecting from all locations
            </div>
        </div>
        <div class='row row-no-padding' ng-if="!search.suggestions.length">
            <div class='col text-center gray text-small'>
                Search and select location for targeted search
            </div>
        </div>


    </ion-content>
</ion-modal-view>