<ion-view title="Settings" id="page3" hide-back-button="true">
    <ion-nav-buttons side="left" class="has-header">
        <button nav-direction="forward" class="button button-icon icon No Icon" ng-click="vm.saveProfile(true)" ng-disabled="vm.showingSchoolResults">
            Close</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="has-header">
        <button nav-direction="forward" class="button button-icon icon No Icon" ui-sref="profile-edit" ng-disabled="vm.showingSchoolResults">
            Profile</button>
    </ion-nav-buttons>
    <ion-content padding="true" class="swipe-bg has-header">
        <ion-list id="settings-list1" class="list-shadow">
            
            <a class="item item-thumbnail-left" ui-sref="profile-edit" style="border-top-right-radius: 20px; border-top-left-radius: 20px; ">
                <div ng-if="vm.profilePicture" style="border-radius: 100px; " class="recent-match-image cover animate-if" ng-style="{'background-image':'url('+vm.profilePicture+')'}" ng-click="vm.openProfile(match.id)">

                </div>
                <h2>&nbsp;</h2>
                <h2>{{vm.firstName}}</h2>
                <p>{{vm.school}}</p>
            </a>
            <ion-item class="item-divider" id="settings-list-item-divider4 "> Most Recent Matches</ion-item>
            <!-- <ion-item class="animate-if" style="padding-top: 0px; padding-bottom: 0px" ng-if="vm.matchesArray.length > 0"> -->
            <ion-scroll direction="x" zooming="false" style="width:100%;white-space: nowrap">
                <div class="col-scroll" ng-repeat="match in vm.matchesArray | limitTo: 5">
                    <div class="recent-match-image cover" ng-style="{'background': 'url('+match.publicPhotoLink0+'), url(\'img/camera2.png\')'}" ng-click="vm.openProfile(match.id)">

                    </div>
                </div>
            </ion-scroll>

            <!-- </ion-item> -->
            <ion-item class="animate-if" ng-if="vm.matchesArray.length == 0">
                No matches just yet. Start swiping!
            </ion-item>
            <ion-item class="item-divider " id="settings-list-item-divider5 "> Filter Settings</ion-item>
            <ion-toggle class="border-bottom-none" ng-disabled="!vm.isPremium" ng-model="vm.matchBySport" toggle-class="toggle-balanced"
                ng-change="vm.setPremiumOptions()">
                Match by Sport
                <span class="text-small gray roboto-light">Premium</span>
            </ion-toggle>

            <div class="row row-center light-bg padding-left-10" ng-if="vm.isPremium && vm.matchBySport">

                <div class="col">
                    <ion-multiple-select title="Select Sports" options="vm.primarySportsArray" save-sports="vm.saveProfile" template-url="views/directives/ion-multiselect-view.html"
                        key-property="id" value-property="name" selected-property="selected" class="item item-input item-icon-right sport-multi-select">
                        Click to choose sports
                    </ion-multiple-select>
                    <!-- <select multiple="true" required ng-model="vm.primarySport" ng-options="sport for sport in vm.primarySportsArray"></select> -->
                </div>
                <div class="col text-right" ng-if="vm.selectedSport.length">
                    {{vm.selectedSport.length}} sports selected
                </div>
            </div>
            <!-- <ion-toggle ng-disabled="!vm.isPremium" ng-model="vm.matchBySport" toggle-class="toggle-balanced" ng-change="vm.setPremiumOptions()">
                Match by Sport
                <span class="text-small gray roboto-light">Premium</span>
            </ion-toggle>
            <div class="row animate-show item" ng-if="vm.matchBySport">
                <div class="col">
                <ion-multiple-select title="Select Sports" options="vm.primarySportsList" template-url="views/directives/ion-multiselect-view.html" key-property="id" value-property="name" selected-property="selected" 
                class="item item-input item-icon-right sport-multi-select">
                        Click to choose sports
                </ion-multiple-select>
                </div>
                <!-- <select ng-model="vm.selectedSport" ng-options="sport for sport in vm.primarySportsArray" style="border: 1px solid black"></select> -->

            <!-- </div> -->
            <ion-toggle class="border-bottom-none" ng-disabled="!vm.isPremium" ng-model="vm.matchBySchool" toggle-class="toggle-balanced"
                ng-change="vm.setPremiumOptions()">
                Match by School
                <span class="text-small gray roboto-light">Premium</span>
            </ion-toggle>
            <!-- <div class="animate-show item overflow-v" ng-show="vm.matchBySchool"> -->
            <!-- <div class='col text-right positive' ng-click="vm.showSchoolSearch(true)" ng-if="!vm.selectedSchool || vm.showFilteredResults">
                    Click to Search School
                </div> -->
            <!-- <div class='animate-if col col-66 text-right' ng-click="vm.showSchoolSearch(true)" ng-if="vm.selectedSchool && !vm.showFilteredResults && !vm.showingSchoolResults">
                    Swiping: {{vm.selectedSchool}}
                </div>
                <ion-list class="school-search-result" ng-if="vm.showFilteredResults">
                    <ion-item ng-repeat="school in vm.schoolArray|filter: vm.selectedSchool" ng-click="vm.setSchool(school">{{school}}</ion-item>
                </ion-list> -->
            <!-- <div class="item item-input-inset border-top-none" ng-if="vm.schoolSearch"> -->
            <!-- <label class="item-input-wrapper"> -->
            <!-- <div class="full-image text-left" search-school-directive>
                        Choose a school
                    </div> -->
            <div class='row padding-left-10 light-bg' ng-if="vm.isPremium && vm.matchBySchool">
                <div class='col school-multi-select' ng-click="vm.openSchoolSelectModal()">
                    Click to choose schools
                </div>
                <div class="col col-33 text-right" ng-if="vm.selectedSchool.length">
                    {{vm.selectedSchool.length}} schools
                </div>
            </div>

            <!-- </div> -->

            <!-- Match By location -->
            <ion-toggle class="border-bottom-none" ng-disabled="!vm.isPremium" ng-model="vm.matchByLocation" toggle-class="toggle-balanced"
                ng-change="vm.setMatchByLocation()">
                Match by Location
                <span class="text-small gray roboto-light">Premium</span>
            </ion-toggle>
            <div class='row padding-left-10 light-bg' ng-if="vm.isPremium && vm.matchByLocation">
                <div class='col school-multi-select' ng-click="vm.openLocationSelectModal()">
                    Click to choose locations
                </div>
                <div class="col col-33 text-right">
                    {{vm.formatted_address}}
                </div>
            </div>
            <!-- Match by location end -->
            <div class="item range range-energized">

                <div class="range-label">Max: {{vm.distanceMilesMax || 50}} mi</div>

                <input min="20" max="150" type="range" ng-model="vm.distanceMilesMax" name="volume" ng-style="{'background-image': 'linear-gradient(to right,#74F2A2 0%, #74F2A2 '+vm.colorLimit1+ '%,#ccc '+vm.colorLimit2+ '%,#ccc 100%)'}">
            </div>

            <div class="item range range-positive">
                <div class="range-label">Age: {{vm.range.from}}</div>
                <ui-multi-range ng-step="1" ng-min="18" ng-max="75" ng-model-min="vm.range.from" ng-model-max="vm.range.to" ng-change-min="vm.somethingHasChanged()"
                    ng-change-max="vm.somethingHasChanged()">
                </ui-multi-range>
                <div class="range-label">{{vm.range.to}}</div>
            </div>
            <label class="item item-input item-select">
                <span class="input-label">I am a</span>
                <select ng-model="vm.genderString">
                    <option value="man"> Man </option>
                    <option value="woman"> Woman </option>
                </select>
            </label>

            <label class="item item-input item-select">
                <span class="input-label">Interested In</span>
                <select ng-model="vm.interestedInString">
                    <option value="men"> Men </option>
                    <option value="women"> Women </option>
                    <option value="both"> Both </option>
                </select>
            </label>
            <!-- <label class="item item-input"> -->
            <!-- <ion-toggle ng-model="vm.profanityFilter" ng-change="vm.toggleProfanityFilter()" toggle-class="toggle-calm">Profanity Filter</ion-toggle> -->
            <!-- </label> -->
            <!-- <ion-item class="range range-positive " id="settings-range2 ">Max Distance
                <input type="range " value="30 " min="0 " max="100 " step="1 ">
            </ion-item> -->
            <label class="item " id="settings-select1 " style="border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;">
                <span class="input-label ">Location</span>
                {{vm.locationString}}
            </label>
        </ion-list>
        <!-- <div class="spacer " style="height: 100px; "></div> -->
        <div class='row'>
            <div class='col'>
                <button class="button button-block button-green" ng-if="!vm.isPremium" ng-click="vm.upgrade()">Upgrade</button>
            </div>
        </div>

        <div class='row'>
            <div class='col'>
                <button class="button button-block button-red" ng-click="vm.deleteProfile()">Delete Profile</button>
            </div>
        </div>
        <!-- <div class='row'>
            <div class='col'>
                <button ng-if="vm.isAdmin()" class="button button-block button-assertive" ng-click="vm.resetCards()">Reset Cards</button>
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <button ng-if="vm.isAdmin()" class="button button-block button-assertive" ng-click="vm.addTestSwipes()">Add Swipes</button>
            </div>
        </div> -->
        <div class='row' ng-if="vm.role == 'admin'">
            <div class='col'>
                <button class="button button-block button-green" ui-sref="admin_settings" ng-click="vm.admin()">Admin</button>
            </div>
        </div>
        <div class="row" ng-if="vm.friendsList.length">
            <div class="">
                <img class="friends_image" ng-src="http://graph.facebook.com/{{vm.friendsList[0].id}}/picture?type=square">
            </div>
            <div class="fr_image_div" ng-if="vm.friendsList[1]">
                <img class="friends_image" ng-src="http://graph.facebook.com/{{vm.friendsList[1].id}}/picture?type=square">
            </div>
            <div class="friends_div">
                {{vm.friendsListText}}
            </div>
        </div>
        <ion-list id="settings-list3 " class="list-shadow">
            <ion-item class="item-icon-right " id="settings-list-item9 " style="border-top-right-radius: 15px; border-top-left-radius: 15px;"
                ng-click="vm.submitFeedback()">Feedback
                <i class="icon ion-ios-arrow-right "></i>
            </ion-item>
            <ion-item class="item-icon-right " id="settings-list-item9 " ui-sref="eula-from-edit">Privacy & Terms
                <i class="icon ion-ios-arrow-right "></i>
            </ion-item>
            <ion-item ng-click="vm.logOut()" class="item-icon-right " id="settings-list-item10 " style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">Logout
                <i class="icon ion-ios-arrow-right "></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>