<ion-view title="Messages" id="page5">
    <ion-nav-bar class="bar-stable bar-shadow" align-title="center" no-border>
        <ion-nav-buttons side="left">
            <button nav-direction="back" class="button button-icon icon ion-ios-arrow-back" ng-click="vm.goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="swipe-bg">
        <ion-refresher
        on-refresh="vm.doRefresh()">
      </ion-refresher>
        <div class="messages">
            <ion-list>
                <div class="input-header padding">
                    ALL CHATS
                </div>
                <ion-list>
                    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="match in vm.matchesArray|orderBy:'-lastMessageDateX'" ng-click="vm.goToChat(match)">
                        <i ng-if="match.unseen" style="font-size:15px" class="icon ion-record theme-gradient"></i>
                        <div ng-style="{'background-image':'url('+match.publicPhotoLink0+')'}" class="chatListAvatar cover"></div>
                        <h2>{{match.firstName}}</h2>
                        <p ng-class="{'unseen-message':match.unseen}">{{match.lastMessageText || "New Match"}}</p>
                    </ion-item>
                    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-if="vm.matchesArray.length == 0 && vm.queryFinished" style="background-color: transparent; text-align: center">
                        <h2>No matches just yet.</h2>
                        <h2>Start swiping!</h2>
                    </ion-item>
                </ion-list>
            </ion-list>
        </div>
    </ion-content>
</ion-view>