<!--Gotta put the form on top so I can validate ng-disabled button on top of navBar  -->
<form name="form">
    <ion-view view-title="Profile Setup" hide-back-button="false">
            <ion-nav-buttons side="left">
                        <button ng-if="vm.fromEdit" class="button button-light" style="font-weight:bold;" ng-click="vm.previewProfile()">PREVIEW</button>
                </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button ng-click="vm.continueSetup()" class="button button-light" style="font-weight:bold;"> {{vm.isFromEditScreen ? "SAVE" : "NEXT"}}
            </button>
        </ion-nav-buttons>


        <ion-content scroll="true">
            <div class="input-header padding">
                <!--hidden form for submission  -->
                BASIC INFORMATION
            </div>
            <label class="item item-input">
                <span class="input-label">First Name</span>
                <input class="text-right" type="text" ng-model="vm.firstName" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input class="text-right" type="text" ng-model="vm.lastName" required>
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input class="text-right" type="email" ng-model="vm.userEmail" required>
            </label>
            <label ng-click="vm.openBirthdayPicker()" class="item item-input">
                <span class="input-label">Birthday</span>
                <!-- <input type="date" ng-model="vm.birthday"> -->
                <p style="position: absolute; right: 0px; padding-right: 20px;">{{vm.birthdayMoment.format('MM/DD/YYYY')}}</p>

            </label>
            </span>

            <!--Detailed information  -->
            <span ng-show="vm.isFromEditScreen">
                <div class="input-header padding">
                    MEDIA
                </div>
                <label class="item item-icon-right" ui-sref="setup-2-from-edit">
                    Your Photos
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </label>
                <label class="item item-icon-right" ui-sref="description-edit">
                    Your Description
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </label>
                <label class="item item-icon-right" ui-sref="setup-35-from-edit">
                    Your Sport Experience
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </label>
            </span>


            <div class="input-header padding">
                DETAILED INFORMATION
            </div>

            <label class="item item-input item-select">
                <span class="input-label">Primary Sport</span>
                <!-- <select>

                        <option ng-repeat=""> {{sport}} </option>
                    </select> -->
                <select required ng-model="vm.primarySport" ng-options="sport for sport in vm.primarySportsArray"></select>

            </label>

            <div class='row relative'>
                <div class='col input-label padding-left-10'>
                    School
                </div>
                <div class='col text-right positive' ng-click="vm.showSchoolSearch(true)" ng-if="!vm.school || vm.showFilteredResults">
                    Click to search school
                </div>
                <div class='col col-66 text-right' ng-click="vm.showSchoolSearch(true)" ng-if="vm.school && !vm.showFilteredResults">
                    {{vm.school}}
                </div>

                <ion-list class="school-search-result" ng-if="vm.showFilteredResults">
                    <ion-item ng-repeat="school in vm.schoolArray|filter: vm.school" ng-click="vm.setSchool(school)">{{school}}</ion-item>
                </ion-list>
            </div>
            <div class="item item-input-inset border-top-none" ng-if="vm.schoolSearch">
                <label class="item-input-wrapper">
                    <input type="text" class="full-image text-left" ng-model="vm.school" placeholder="Search your school" ng-change="vm.filterSchools()" ng-model-options="{'debounce':500}">
                </label>
                <button class="button button-small button-clear button-dark" ng-click="vm.showSchoolSearch(false)">
                    Cancel
                </button>

            </div>

            <!-- <label class="item item-input item-select">
                    <span class="input-label">School</span>
                    <input ng-model="vm.school" required type="text" placeholder="Stanford University">
                </label> -->


            <label class="item item-input item-select">

                <span class="input-label">Graduation/Last Active Year</span>

                <select required ng-model="vm.graduationYear" ng-options="year for year in vm.graduationYears"></select>
                <!-- <select>
                        <option ng-repeat="graduationYear in vm.graduationYears"> {{graduationYear}} </option>
                    </select> -->
            </label>

            <label class="item item-input ">
                <span class="input-label">Company</span>


                <input class="text-right" ng-model="vm.company" type="text" placeholder="">

            </label>
            <label class="item item-input ">
                <span class="input-label">Job Title</span>

                <input class="text-right" ng-model="vm.jobTitle" type="text" placeholder="">

            </label>

            <div class="item item-input" style="max-width: 100%;padding-right:20px;">
                <span class="input-label">Height</span>
                <div class='row row-no-padding row-center'>
                    <div class='col'>
                        <input id="focus1" ng-model="vm.heightFeet" required type="number" ng-change="vm.moveToSecondHeight()" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="1" placeholder="6" style="width:60%;display:inline-block"
                            move-next-on-max-length>ft
                    </div>
                    <div class='col'>
                        <input id="focus2" ng-model="vm.heightInches" required type="number" maxlength="2" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" placeholder="3" style="width:60%;display:inline-block" focus-on="focusMe">in
                    </div>
                </div>
            </div>

            <label ng-show="vm.errorText && vm.submitted" class="item item-input profile-setup-error" >
                <span class="input-label" style="color: red">{{vm.errorText}}</span>
            </label>



            <!-- <label class="item item-input">
                    <span class="input-label">Weight</span>
                    <input type="text" placeholder="150lbs">
                </label> -->

            </div>
        </ion-content>

    </ion-view>

</form>