<ion-modal-view class="transparent-bg">
    <ion-header-bar class="item-input-inset relative overflow-v">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" class="full-image text-left" ng-model="selectedSchool" placeholder="Choose a School" ng-change="filterSchools(selectedSchool)"
            ng-click="selectedSchool = ''">
        </label>
        <button class="ion-autocomplete-cancel button button-clear button-dark ng-binding" ng-click="close()" translate>Close</button>
        
    </ion-header-bar>
    <ion-content>
            <ion-list class="school-search-result" ng-if="showFilteredResults">
                    <ion-item ng-repeat="school in schoolArray|filter: selectedSchool" ng-click="setSchool(school)">{{school}}</ion-item>
                </ion-list>
        <div class='row padding-top-30'>
            <div class='col text-center text-large light'>
                Search for school
            </div>
        </div>
    </ion-content>
</ion-modal-view>