<ion-modal-view>
    <ion-header-bar class="bar-stable bar-shadow" align-title="center" no-border>
        <div class="buttons">
            <button nav-direction="back" class="button button-clear" ng-click="closeModal()"> Back
            </button>
        </div>
        <h1 class="title" ng-if="modalCard.currentUser">
            My Profile
        </h1>
    </ion-header-bar>
    <ion-content>

        <div class="row row-no-padding">
            <div class="crop" ng-style="{'height':vm.userImage+'px'}">
                <!-- <img ng-src="{{modalCard.image}}"> -->

                <ion-slides options="sliderOptions" slider="data.slider">
                    <ion-slide-page ng-if="allPhotos && image != 'img/camera2.png'" ng-repeat="image in allPhotos track by $index">
                        <div class="cover" ng-style="{'height':vm.userImage+'px','background-image':'url('+image+')'}"></div>
                    </ion-slide-page>
                    <ion-slide-page ng-if="modalCard.allPhotos && image != 'img/camera2.png'" ng-repeat="image in modalCard.allPhotos track by $index">
                        <div class="cover" ng-style="{'height':vm.userImage+'px','background-image':'url('+image+')'}"></div>
                    </ion-slide-page>
                </ion-slides>
            </div>

        </div>

        <div class="row relative" style="z-index:5">
            <div class="sport profile-card view-profile">{{modalCard.primarySport}}</div>
        </div>
        <div class="row" style="padding-top: 10px; padding-left: 15px; padding-bottom: 0px;">
            <div class="caption item-icon-right">
                <h3 class="title" style="font-weight: 200">{{modalCard.name}}, {{modalCard.age}}</h3>
            </div>
        </div>
        <div class="row" style=" padding-left: 10px; padding-bottom: 0px">
            <div class="col col-70">
                <p class="description" style="font-weight: 100; color: grey">{{modalCard.description}}

                </p>
            </div>
            <div class="col col-30" ng-if="!modalCard.currentUser">
                <i class="icon ion-navigate icon-accessory" style="top: 115px; color: grey; text-align: right; float: right"> {{modalCard.distanceFrom}} mi</i>
            </div>
        </div>
        <hr style="margin-top:0px; margin-bottom: 0px" />
        <div class="row" style="padding-bottom: 0px">
            <div class="col col-offset-10">
                <h3 class="title" style="font-weight: 200; margin-left: 25px">{{modalCard.heightFeet}}' {{modalCard.heightInches}}"</h3>
            </div>
            <div class="col col-offset-10">
                <h3 class="title" style="font-weight: 200; margin-left: 10px">{{modalCard.graduationYear}}</h3>
            </div>
        </div>
        <div class="row" style="padding-top:0px">
            <div class="col col-offset-10" style="font-weight: 100; color: grey;">
                <span style="margin-left: 22px">{{"Height" | uppercase}}</span>
            </div>
            <div class="col col-offset-10" style="font-weight: 100; color: gray">
                {{"Graduated" | uppercase}}
            </div>
        </div>
        <hr style="margin-top:0px;" ng-if="modalCard.profileDescription" />
        <div class="row" style=" padding-left: 20px; padding-bottom: 0px; padding-right: 20px; " ng-if="modalCard.profileDescription">
            <p style="color: grey; font-weight: 200">{{modalCard.profileDescription}}</p>
        </div>
        <hr />

        <!-- question -->
        <div ng-if="modalCard.question1" class="animate-if row" style=" padding-left: 20px; padding-bottom: 0px; padding-right: 20px; ">
            <h5 style="font-weight: bold">What is your most embarassing sports moment?</h5>
        </div>
        <div ng-if="modalCard.question1" class="animate-if row" style=" padding-left: 20px; padding-bottom: 0px; padding-right: 20px; ">
            <p style="color: grey; font-weight: 200">{{modalCard.question1}}</p>
        </div>
        <!-- end question -->

        <!-- question -->
        <div ng-if="modalCard.question2" class="animate-if row" style=" padding-left: 20px; padding-bottom: 0px; padding-right: 20px; ">
            <h5 style="font-weight: bold">What is your worst athletic injury?</h5>
        </div>
        <div ng-if="modalCard.question2" class="animate-if row" style=" padding-left: 20px; padding-bottom: 0px; padding-right: 20px; ">
            <p style="color: grey; font-weight: 200">{{modalCard.question2}}</p>
        </div>
        <!-- end question -->

        <!-- question -->
        <div ng-if="modalCard.question3" class="animate-if row" style=" padding-left: 20px; padding-bottom: 0px; padding-right: 20px; ">
            <h5 style="font-weight: bold">What is the best live sporting event you have ever seen?</h5>
        </div>
        <div ng-if="modalCard.question3" class="animate-if row" style=" padding-left: 20px; padding-bottom: 0px; padding-right: 20px; ">
            <p style="color: grey; font-weight: 200">{{modalCard.question3}}</p>
        </div>
        <!-- end question -->

        <!-- question -->
        <div ng-if="modalCard.question4" class="animate-if row" style=" padding-left: 20px; padding-bottom: 0px; padding-right: 20px; ">
            <h5 style="font-weight: bold">Are you still involved in athletics? If so, how?</h5>
        </div>
        <div ng-if="modalCard.question4" class="animate-if row" style=" padding-left: 20px; padding-bottom: 0px; padding-right: 20px; ">
            <p style="color: grey; font-weight: 200">{{modalCard.question4}}</p>
        </div>
        <!-- end question -->

        <div class="row">
            <br/>
        </div>
        <!-- <div class="row" >
            <div class="button-bar">
                
            </div>
        </div> -->
        <div class="row">
            <div class="button-bar" ng-if="!modalCard.currentUser">
                <a class="button" ng-if="modalCard.settingsClick" ng-click="modalCard.openChat(modalCard.userId)">Chat</a>
                <a class="button" ng-if="showUnmatchButton" ng-click="modalCard.unmatchUser(modalCard.userId)">Unmatch</a>
                <a class="button" ng-click="modalCard.reportUser(modalCard.userId, modalCard.messages)">Report</a>
            </div>

        </div>

    </ion-content>
</ion-modal-view>