<ion-view hide-nav-bar="true">
    <ion-content padding="true" class="background">

        <div class="holder">
            <div class="header">
                <h1>PLAYOFF</h1>
                <p>The Dating App for Athletes</p>
            </div>
        </div>
    </ion-content>

    <div class="bottom padding">
        <button class="button button-block button-green" ng-click="vm.loginFacebook()">
            LOGIN WITH FACEBOOK
        </button>
        <div class="terms">
            By signing in you agree to our
            <br>
            <a href="#" ng-click="vm.openUrl(1)">Terms of Services</a> and
            <a href="#" ng-click="vm.openUrl(2)">Privacy Policy</a>
        </div>
    </div>

</ion-view>