
<div class="wrapper login-bg ">

    <div class="middle-box text-center loginscreen animated fadeInDown margin-top-0 valign-parent">
        <div class="valign-child">
            <div class="row">

                <div class="col-md-12 text-center">
                    <!-- <img style="height: 200px" src="../images/icon.png" class="logo"> -->
                </div>
            </div>
            <div class="row">

                <div class="col-sm-12 text-center">
                    <h3>ADMIN LOGIN</h3>
                </div>
            </div>
            <form class="m-t" role="form" ng-submit="login.login()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" required="" ng-model="login.user.username" ng-change="login.change()">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="" ng-model="login.user.password" ng-change="login.change()">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <div class="row" ng-if="login.loginError">
                    <div class="col-md-12 text-center">
                        <h4 class="bold errors">Invalid Username or Password OR User is not authorize to use</h4>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>