<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Playoff
      <span class="text-small padding-left-10 ">Admin Panel</span>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="collapsible.html">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row">

  <div class="col s12 padding-0">
    <div class="row">
      <div class="col s2 sidemenu">
        <ul>
          <li ng-class="{'selected': home.menuItem=='location'}" ng-click="home.goToLocation()">
            Users' Location
          </li>
          <li ng-class="{'selected': home.menuItem=='users'}" ng-click="home.goToUsers()">
            All Users
          </li>
        </ul>
      </div>
      <div class="col s10">
        <div class="container" ng-if="home.menuItem=='location'">
          <h2 class="div-center dark">
            {{home.title}}
          </h2>
          <div class="div-center map-div" ng-if="home.showMap">
            <ng-map zoom="4" center="[34.02123715536985, -118.42797796084648]">
            </ng-map>
          </div>
          <div class="div-center  padding-top-15">
            <h4>Total number of unique chat sessions: {{home.chatSessions}}</h4>
          </div>
        </div>
      </div>
      <div class="col s10">
        <div class="container" ng-if="home.menuItem=='users'">

          <div class="row">
            <div class="col s12 padding-0">
              <h2 class="div-center dark">
                {{home.title}}
              </h2>
              <div class="row margin-auto two-tabs">
                <div class="col s6 tab-1" ng-click="home.selectTab(1)" ng-class="{'selected': home.selectedTab==1}">
                  All
                </div>
                <div class="col s6 tab-2" ng-click="home.selectTab(2)" ng-class="{'selected': home.selectedTab==2}">
                  New
                </div>
              </div>
              <div class="row user-table margin-0 overflow-s">
                <div class="col s12">
                  <table class="responsive-table centered striped">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Joining Date</th>
                        <th>Jersey Image</th>
                        <th>Profile Image</th>
                        <th>Image 1</th>
                        <th>Image 2</th>
                        <th>Image 3</th>
                        <th>Image 4</th>
                        <th>Verification Status</th>
                        <th>Mark Unverified</th>
                      </tr>
                    </thead>

                    <tbody ng-if="home.selectedTab==1 && home.usersLoaded">
                      <tr ng-repeat="user in home.allUsers |orderBy: '-joiningDate'">
                        <td>{{user.name}} ({{user.sex}} {{user.age}})</td>
                        <td>{{user.joiningDate|date: 'MMM dd, yyyy'}}</td>
                        <td>
                          <a ng-if="user.jerseyImage" href="{{user.jerseyImage}}" target="_blank">Click to See</a>
                        </td>
                        <td>
                          <a ng-if="user.profilePhoto" href="{{user.profilePhoto}}" target="_blank">Click to See</a>
                        </td>
                        <td>
                          <a ng-if="user.photo1" href="{{user.photo1}}" target="_blank">Click to See</a>
                        </td>
                        <td>
                          <a ng-if="user.photo2" href="{{user.photo2}}" target="_blank">Click to See</a>
                        </td>
                        <td>
                          <a ng-if="user.photo3" href="{{user.photo3}}" target="_blank">Click to See</a>
                        </td>
                        <td>
                          <a ng-if="user.photo4" href="{{user.photo4}}" target="_blank">Click to See</a>
                        </td>
                        <td class="bold ver-status" ng-click="home.changeStatus(user)">{{user.verified}}
                        </td>
                        <td>
                          <button class="waves-effect waves-light btn red" ng-if="!user.verified && user.verified != false" ng-click="home.unverifyUser(user)">Unverified</button>
                        </td>
                      </tr>
                    </tbody>
                    <tbody ng-if="home.selectedTab==2 && home.usersLoaded">
                      <tr ng-repeat="user in home.newUsers |orderBy: '-joiningDate'">
                        <td>{{user.name}} ({{user.sex}} {{user.age}})</td>
                        <td>{{user.joiningDate|date: 'MMM dd, yyyy'}}</td>
                        <td>
                          <a ng-if="user.jerseyImage" href="{{user.jerseyImage}}" target="_blank">Click to See</a>
                        </td>
                        <td>
                          <a ng-if="user.profilePhoto" href="{{user.profilePhoto}}" target="_blank">Click to See</a>
                        </td>
                        <td>
                          <a ng-if="user.photo1" href="{{user.photo1}}" target="_blank">Click to See</a>
                        </td>
                        <td>
                          <a ng-if="user.photo2" href="{{user.photo2}}" target="_blank">Click to See</a>
                        </td>
                        <td>
                          <a ng-if="user.photo3" href="{{user.photo3}}" target="_blank">Click to See</a>
                        </td>
                        <td>
                          <a ng-if="user.photo4" href="{{user.photo4}}" target="_blank">Click to See</a>
                        </td>
                        <td>{{user.verified}}
                        </td>
                      </tr>
                    </tbody>

                  </table>

                  <div class="row margin-top-30" ng-if="home.selectedTab==2 && home.newUsers.length==0">
                    <div class="col s12 text-large text-center">
                      <div class="text-center">No new users</div>
                    </div>
                  </div>
                  <div class="row margin-top-30" ng-if="!home.usersLoaded">
                    <div class="col s12 text-center">
                      <div class="preloader-wrapper big active" style="display: block;margin: auto;">
                        <div class="spinner-layer spinner-blue-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div>
                          <div class="gap-patch">
                            <div class="circle"></div>
                          </div>
                          <div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row margin-auto">
                <div class="col s12">
                  <div class="pagination right">
                    <ul>
                      <li ng-class="{disabled: home.currentPage == 0}">
                        <a href ng-click="home.prevPage()">« Prev</a>
                      </li>

                      <li ng-repeat="n in home.range(home.totalPages, home.currentPage, home.currentPage + home.gap) " ng-class="{active: n == home.currentPage}"
                        ng-click="home.setPage(n)">
                        <a href ng-bind="n + 1">1</a>
                      </li>

                      <li ng-class="{disabled: (home.currentPage) == home.totalPages - 1}">
                        <a href ng-click="home.nextPage()">Next »</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>