<ion-view view-title="{{vm.matchData.firstName}}">

    <ion-nav-buttons side="right">
        <button class="button button-light" style="font-weight:bold;" ng-click="vm.openProfile()">
            PROFILE
        </button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-light bar-shadow" align-title="center">
        <h1 class="title "></h1>
    </ion-header-bar>
    <div id="chatWrapper">
        <ion-content class="content-stable content-scroll-true" id="scrollClass" ng-click="inputDown()">
            <ion-refresher on-refresh="doRefresh()">
            </ion-refresher>
            <!-- <div class="online">
                ONLINE
                <i class="icon ion-record"></i>
            </div> -->
            <div class="row " ng-repeat="(key, value)  in vm.messages| orderBy:'time' | groupBy: 'date'">
                <div class="col">
                            <div class="row chat-bubble animated fast" ng-repeat="message in value" on-swipe-right="vm.showActions(false)" on-swipe-left="vm.showActions(true)" ng-class="vm.slClass==true ? 'slideOut' : 'null'">
                                <div class="col relative" ng-class="(message.recipient==vm.myId) ? 'other' : ''" >
                                    <div ng-class="(vm.slClass==true) ? 'blue' : 'red'">
                             <p ng-if="$index==0" class="text-small bold text-center">
        <span class="day-breaker">{{value[0].time| date: 'MMM dd, yyyy '}}</span>
    </p>


<span class="chat-bubble animated fast" ng-style="chat.maxWidth" ng-class="{'slideOut':vm.chatTime==$index}">
    {{message.text}}
</span>


    
<!-- <div ng-click="vm.showChatTime($index)" class="chatTime" ng-if="vm.chatTime==$index">{{message.time|
    date: 'hh:mm a'}}</div> -->

    <div ng-if="vm.slClass" class="chatTimeSlide">{{message.time|
            date: 'hh:mm a'}}</div>
                                    </div>
                                       

            
                                </div>
                            </div>
                        
                </div>
            </div>
            <!-- <div on-swipe-left="warn('Must use scope')">
                    Some list content, like an email in the inboxfdgdfgdfgdf
                  </div> -->
                  <!-- <div ng-show="vm.showActions" md-swipe-left="vm.showActions = false">
                    <button>Reply</button>
                    <button>Delete</button>
                  </div> -->
    
        </ion-content>
    
        <ion-footer-bar class="bar-light item-input-inset border-top-lightgray" style="min-height:60px;border-top:2px solid lightgrey; border-bottom:2px solid lightgrey; padding:0">
            <textarea ng-if="vm.showChatInput" type="text" placeholder="Introduce yourself..." class="col-80 chatbox" ng-model="vm.currentMessage"
                ng-keypress="$event.keyCode == 13 && sendMessage(); " ng-focus="inputUp()" auto-focus>
            </textarea>
    
            <button ng-if="vm.showChatInput" type="button" class="button button-stable" style="margin-left: auto; margin-right: 5px;"
                ng-click="sendMessage()"> Send
            </button>
            <div ng-if="!vm.showChatInput" class="user-unavailable">
                This user is no longer available for chat
            </div>
        </ion-footer-bar>
    </div>

</ion-view>