<ion-view view-title="Admin Settings" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-light" style="font-weight:bold;" ui-sref="settings" ng-click="vm.closeSettings()">
            Close
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-light" style="font-weight:bold;" ng-click="vm.refreshCounts()">
            Refresh
        </button>
    </ion-nav-buttons>


    <ion-content>
        <div class="row">
            <div class="col gray">
                Number of users
            </div>
            <div class="col gray">
                {{vm.settingsData.userCount}}
            </div>
        </div>
        <div class="row">
            <div class="col gray">
                Number of left swipes 
            </div>
            <div class="col gray">
                {{vm.settingsData.leftSwipesCount}}
            </div>
        </div>
        <div class="row">
                <div class="col gray">
                    Number of right swipes 
                </div>
                <div class="col gray">
                    {{vm.settingsData.rightSwipesCount}}
                </div>
            </div>
        <div class="row">
            <div class="col gray">
                Number of matches
            </div>
            <div class="col gray">
                {{vm.settingsData.matchesCount}}
            </div>
        </div>
    </ion-content>
</ion-view>