<ion-view view-title="Enable Location" hide-back-button='true'>

    <ion-content padding="true" class="background">

        <div class="holder">
            <div class="header">
                <div class="whistle">
                    <img src="img/location.png">
                </div>

                <div class="text">
                    <h2>FIND HOME TURF</h2>
                    <p> Let Playoff know where you are to find prospects near you. </p>
                </div>

            </div>
        </div>


    </ion-content>

    <div class="bottom padding">
        <button class="button button-block button-green" ng-click="vm.enableLocation()">
            ENABLE LOCATION
        </button>
    </div>

</ion-view>