<ion-view view-title="Description">

    <ion-nav-buttons side="right">
        <button class="button button-light" style="font-weight:bold;" ng-click="vm.continueSetup()">
            {{vm.isFromEditScreen ? "SAVE" : "Next"}}
        </button>
    </ion-nav-buttons>


    <ion-content>
        <div class="interests padding">
            <textarea rows="10" placeholder="Tell your prospects about yourself..." maxlength="300" ng-model="vm.profileDescription">

            </textarea>
            <div>
                {{vm.profileDescription.length || 0}}/300 CHARACTERS
            </div>
        </div>
    </ion-content>
</ion-view>