<ion-modal-view>
    <ion-content class="half-dark-bg-bottom ">
        <div class="valign-parent" style="height:90vh">
            <div class="valign-child" style="padding: 20px">
                <div class="text-center text-large margin-bottom-20">
                    UPDATE AVAILABLE
                </div>
            <div class="text-center margin-bottom-20" ng-if="vm.daysToUpdate != 0" ng-cloak>
                Dear user, <br>
                Playoff has a new version on {{vm.device == 'ios' ? 'app store' : 'play store'}}. Please update your app in next {{vm.daysToUpdate}} days to continue using the latest features.
                The old version will not work after {{vm.daysToUpdate}} days
            </div>
            <div class="text-center margin-bottom-20" ng-if="vm.daysToUpdate == 0" ng-cloak>
                Dear user,<br>
                Your app version is outdated. Please update the app from {{vm.device == 'ios' ? 'app store' : 'play store'}} to enjoy latest features
            </div>
            <div class="margin-top-30">
                <button class="button button-block button-green padding-10" ng-click="vm.updateApp()">
                    UPDATE
                </button>
            </div>
            </div>
        </div>
        <div ng-if="vm.daysToUpdate != 0"  ng-click="vm.skipUpdate()" class="text-center light">SKIP</div>
    </ion-content>
</ion-modal-view>