<div class="row">
    <div class="col col-center">
        <h5 style="text-align: center" class="subtle">{{"You Have a Match" | uppercase}}</h5>
    </div>
</div>
<div class="row">
    <div class="col"></div>

    <div class="col col-center">
        <img ng-src="{{vm.matchCard.image}}" style="border-radius: 100px; max-height: 100px">
    </div>
    <div class="col"></div>

</div>
<div class="row">
    <div class="col-10"></div>

    <div class="col col-center">
        <h3 style="text-align: center">{{vm.matchCard.name | uppercase}}</h3>
    </div>
    <div class="col-10"></div>

</div>
<div class="row">
    <button class="button button-green button-block button-full" style="font-size: 17px" ng-click="vm.goToMessageForNewMatch(vm.matchCard)">{{"START A CONVERSATION" | uppercase}}</button>
</div>
<div class="row">
    <button class="button button-clear button-dark" style="text-align: center; margin: auto; font-size: 12px;" ng-click="vm.dismissMatchPopup()">{{"Dismiss" | uppercase}}</button>
</div>