<ion-view title="PLAYOFF" hide-back-button="true">

    <ion-nav-bar class="bar-stable" align-title="center" no-border>
        <ion-nav-buttons side="left">
            <button nav-direction="back" class="button button-icon icon ion-android-person" ng-click="vm.hideLoading()" ui-sref-opts="{reload:true}" ui-sref="settings">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-chat" ng-click="vm.hideLoading()" ui-sref="messages" ui-sref-opts="{reload:true}" nav-direction="forward">
        </button>
    </ion-nav-buttons>

    <ion-content class="swipe-bg" scroll="false">

        <td-pulse ng-show="vm.errorStatus" style="margin-top: 35%; ">
            <!-- <img src="http://api.randomuser.me/portraits/med/women/35.jpg" /> -->
            <h4 style="margin-right: 10%; margin-left: 10%">{{vm.helpText}}</h4>
            <button ng-show="vm.errorStatus && vm.errorStatus !== 'expendSearch'" class="button button-light" ng-click="vm.getCards()">
                Try Again
            </button>
        </td-pulse>
        <!-- <div class="row"> -->

        <td-cards delegate-handle="vm.cards" ng-if="vm.cards.length > 0 " class="animate-if">
            <td-card ng-repeat="card in vm.cards" reverted-card="card.reverted" on-destroy="vm.remove($index)" on-transition-left="vm.reject(card)" on-transition-right="vm.like(card)" on-swipe-up="vm.swipeUp(card)" ng-click="vm.openProfile(card)" ng-class="{'swipeBack': vm.swipedBackCard && $index==0}">
                <span class="no">BENCH</span>
                <span class="yes">PLAY</span>
                <div class="swipe-img">
                    <img ng-src="{{card.image}}" onerror="this.src='https://firebasestorage.googleapis.com/v0/b/playoff-dating-app.appspot.com/o/additional_files%2Fnot_found_picture.png?alt=media&token=83b57e18-8faf-46d9-a2cb-d171b58af40c'"/>
                </div>
                <div class="sport">{{card.primarySport}}</div>
                <div class="caption item-icon-right">
                    <h2 class="title card-text-overflow">{{card.name}}, {{card.age}}</h2>
                    <p class="description card-text-overflow">{{card.description}}
                        <i class="icon ion-navigate icon-accessory">{{card.distanceFrom}} mi</i> 
                    </p>
                </div>
            </td-card>
        </td-cards>
        <!-- </div> --> 
        <!-- <div class="row"> -->
        <td-controls ng-if="vm.cards.length > 0">
            <div class="row row-no-padding row-center padding-top-5 td-button-responsive">
                <div class="col col-25">
                    <button class="btn-refresh button button-light" ng-click="vm.backtrack()" ng-disabled="vm.isPremium && vm.premiumTwo && !vm.swipedOutCards.length">
                            <!-- ng-disabled="vm.isPremium && vm.premiumTwo && !vm.swipedOutCards.length" -->
                        <i class="ion-refresh"></i>
                    </button>
                </div>
                <div class="col col-25 padding-right">
                    <td-control-button action="no" icon="ion-ios-close-empty" ng-click="vm.swipeLeft()" class="disslike">

                    </td-control-button>
                </div>
                <div class="col col-25 padding-left">
                    <td-control-button action="yes" icon="ion-ios-heart-outline" ng-click="vm.swipeRight()" class="like">

                    </td-control-button>
                </div>
                <div class="col col-25 relative">
                    <button class="btn-profile button button-light" ng-click="vm.openProfile(vm.cards[0])">
                        <i class="ion-ios-person-outline"></i>
                    </button>
                </div>
            </div>
            <!-- end phone size -->

            <!-- <button class="btn-fav button button-light">
                <i class="ion-android-star-outline"></i>
            </button> -->

        </td-controls>
        <!-- </div> -->


    </ion-content>
</ion-view>

