<ion-view view-title="Your Interests">

    <ion-nav-buttons side="right">
        <button class="button button-light" style="font-weight:bold;" ng-click="vm.continueSetup()">
            NEXT
        </button>
    </ion-nav-buttons>


    <ion-content>

        <div class="interests">

            <ion-list>

                <div class="item">Age Preference</div>

                <div class="item range range-positive">
                    <div class="range-label">{{vm.range.from}}</div>
                    <ui-multi-range ng-step="1" ng-min="18" ng-max="75" ng-model-min="vm.range.from" ng-model-max="vm.range.to" ng-change-min="vm.somethingHasChanged()" ng-change-max="vm.somethingHasChanged()">
                    </ui-multi-range>
                    <div class="range-label">{{vm.range.to}}</div>
                </div>


                <div class="item">Max Distance</div>
                <!-- for some reason colors dont seem to work  -->
                <div class="item range range-energized">
                    <div class="range-label">{{vm.distanceMilesMax}} mi</div>

                    <input min="20" max="150" type="range" ng-model="vm.distanceMilesMax" name="volume" ng-style="{'background-image': 'linear-gradient(to right,#74F2A2 0%, #74F2A2 '+vm.colorLimit1+ '%,#ccc '+vm.colorLimit2+ '%,#ccc 100%)'}">
                </div>


                <div class="item item-input">
                    <span class="input-label">Location</span>
                    <input readonly type="text" ng-if="vm.locationString" ng-model="vm.locationString" placeholder="Palo Alto, CA" style="background-color: white !important">
                    <button ng-if="!vm.locationString" ng-click="vm.setLocation()" class="setLocation">Set Location</button>
                </div>

                <label class="item item-input item-select">
                    <span class="input-label">I am a</span>
                    <select ng-model="vm.genderString">
                        <option value="man"> Man </option>
                        <option value="woman"> Woman </option>
                        <!-- <option value="bi"> Bi-sexual </option> -->
                    </select>
                </label>

                <label class="item item-input item-select">
                    <span class="input-label">Interested In</span>
                    <select ng-model="vm.interestedInString">
                        <option value="men"> Men </option>
                        <option value="women"> Women </option>
                        <option value="both"> Both </option>
                    </select>
                </label>


                <!-- <p>
                 <button class="button button-green" ng-click="vm.printRange()">Log range</button> 
                {{vm.printRange}}
            </p> -->
            </ion-list>

        </div>

    </ion-content>

</ion-view>