<ion-view view-title="Questions">
    <ion-nav-buttons side="right">
        <button class="button button-light" style="font-weight:bold;" ng-click="vm.continueSetup()">
            {{vm.isFromEditScreen ? "Save" : "Next"}}
        </button>
    </ion-nav-buttons>


    <ion-content class="padding-top-10">
        <div class="text-center">
            Help other athletes get to know you by answering these questions. To skip this section, press 'Next'
        </div>
        <div class="interests padding">
            <textarea rows="5" placeholder="What is your most embarassing sports moment?" maxlength="200" ng-model="vm.question1">

            </textarea>
            <textarea rows="5" placeholder="What is your worst athletic injury?" maxlength="200" ng-model="vm.question2">

            </textarea>
            <textarea rows="5" placeholder="What is the best live sporting event you have ever seen?" maxlength="200" ng-model="vm.question3">

            </textarea>
            <textarea rows="5" placeholder="Are you still involved in athletics? If so, how?" maxlength="200" ng-model="vm.question4">

            </textarea>
            <!-- <div>
                {{vm.profileDescription.length || 0}}/300 CHARACTERS
            </div> -->
        </div>
    </ion-content>
</ion-view>