<ion-modal-view class="purchase-modal">

  <ion-content scroll="false" class="valign-parent" ng-style="fullHeight">
    <div class="padding-top-20">
      <div class="pricing-card light-bg relative boxer-bg" ng-style="card">

        <!-- <div class="row padding-top-20 nowrap half-dark-bg-top pricing-title">
          <div class="col text-center roboto-medium text-x-large text-shadow-dark">
            Stay in the Ring !
          </div>
        </div>

        <div class="pricing-buttons half-dark-bg-bottom">
          <div class="premium-features text-shadow-dark">
            <div class='row div-centered-80'>
              <div class='col text-center bold text-large border-bottom-light'>
                Subscribe now for ..
              </div>
            </div>
            <div class='row div-centered-80'>
              <div class='col text-center'>
                <span class="icon ion-play text-small padding-right-5"></span> Unlimited Backtracks
              </div>
            </div>
            <div class='row div-centered-80'>
              <div class='col text-center'>
                <span class="icon ion-play text-small padding-right-5"></span> Filter Users by Sports & School
              </div>
            </div>
            <div class='row div-centered-80'>
              <div class='col text-center border-bottom-light'>
                <span class="icon ion-play text-small padding-right-5"></span> Swipe In Any Location
              </div>
            </div>
            <div class='row'>
                <div class='col text-center roboto-light'>
                  Only $7.99 / mo
                </div>
              </div>
          </div> -->
          <div class="button-bar ">
            <!-- <a class="button left text-large roboto-light" ng-click="closePurchaseModal()">Cancel</a>
            <a class="button button-theme-green right text-large roboto-medium" ng-click="purchase()">Continue</a> -->
            <div class="left2">
              <a class="button2" ng-click="purchase()">LETS SHOOT</a>
            </div>
            <div class="right2">
              <a class="button2 " ng-click="closePurchaseModal()">MAYBE LATER</a>
            </div>
            
          </div>
        </div>
      </div>

    </div>

    <ion-scroll ng-style="conditions">
      <div class="row row-no-padding padding-top-10 light">
        <div class="col text-center bold">
          Recurring billing, cancel anytime
        </div>
      </div>
      <div class="row padding-top-5">
        <div class="col light text-small text-center" style="line-height: 1.4em">
          If you decide to purchase a subscription, payment will be charged to your iTunes account, and your account will be charged
          within 24-hours prior to the end of the current period. Your subscription will automatically renew unless auto-renew
          is turned off at least 24-hours before the end of the current period. Auto-Renewal may be turned off at any time
          by going to your Settings in the iTunes store after purchase. For more information, please visit our
          <span class="bold" ng-click="goTo('terms')">Terms of Service
            </span> and <span class="bold" ng-click="goTo('privacy')">Privacy Policy</span>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-modal-view>