<ion-modal-view class="purchase-modal">

    <ion-content scroll="false" class="valign-parent" ng-style="fullHeight">
      <div class="padding-top-20">
        <div class="pricing-card light-bg relative boxer-bg2" ng-style="card">
            <div class="price-payment">
                <h4 class="font-bold">Pay one-time fee of {{pricePayment}} for</h4>
                <h4 class="font-bold">{{periodPayment}} of boosting your profile</h4>
            </div>
            <div class="price-payment-center">
                <span>Get a leg up on the competetion!</span><br />
                <span>Playoff boosting ensures that your profile</span><br />
                <span>will be at the top of the swipe list for all your</span><br />
                <span>potential matches for the next {{periodPayment}}</span><br />
            </div>
            <div class="price-payment-bottom">
                <p class="font-bold">$ {{pricePayment}} for {{periodPayment}}</p>
            </div>
            <!-- <div class="price-payment">{{pricePayment}}</div>
            <div class="period-payment">{{periodPayment}}</div>
            <div class="period-payment-small-letters">{{periodPayment}}!</div>
            <div class="price-payment-down">{{pricePayment}}</div>
            <div class="period-payment-small-letters-down">{{periodPayment}}!</div> -->

            <div class="button-bar ">
              <!-- <a class="button left text-large roboto-light" ng-click="closePurchaseModal()">Cancel</a>
              <a class="button button-theme-green right text-large roboto-medium" ng-click="purchase()">Continue</a> -->
              <div class="left3">
                <a class="button2" ng-click="purchaseTwo()">BOOST ME!</a>
              </div>
              <div class="right3">
                <a class="button2 " ng-click="closePurchaseModal2()">MAYBE LATER</a>
              </div>
              
            </div>
          </div>
        </div>
  
      </div>
  
      <ion-scroll ng-style="conditions">
        <div class="row row-no-padding padding-top-10 light">
          <div class="col text-center bold">
            Recurring billing, cancel anytime
          </div>
        </div>
        <div class="row padding-top-5">
          <!-- <div class="col light text-small text-center" style="line-height: 1.4em">
            If you decide to purchase a subscription, payment will be charged to your iTunes account, and your account will be charged
            within 24-hours prior to the end of the current period. Your subscription will automatically renew unless auto-renew
            is turned off at least 24-hours before the end of the current period. Auto-Renewal may be turned off at any time
            by going to your Settings in the iTunes store after purchase. For more information, please visit our
            <span class="bold" ng-click="goTo('terms')">Terms of Service
              </span> and <span class="bold" ng-click="goTo('privacy')">Privacy Policy</span>
          </div> -->
        </div>
      </ion-scroll>
    </ion-content>
  </ion-modal-view>