<ion-view view-title="Enable Notifications" hide-back-button="true">

    <ion-content padding="true" class="background">

        <!-- <div class="dummy"></div> -->
        <div class="holder">
            <div class="header">
                <div class="whistle">
                    <img src="img/whistle-mod.png">
                </div>
                <div class="text">
                    <h2>STAY IN THE GAME</h2>
                    <p>Get notifications from prospects, messages,
                        <br> and matches</p>
                </div>
            </div>
        </div>

    </ion-content>


    <div class="bottom padding">
        <button class="button button-block button-green" ng-click="vm.activate()">
            ENABLE NOTIFICATIONS
        </button>
    </div>

</ion-view>