<ion-modal-view>
    <ion-content>
        <div class="cropArea" ng-style="parentPhotoHeight">
            <ui-cropper image="parentImage" area-type="rectangle" aspect-ratio=".75" result-image="vm.croppedImage" result-image-size='[{w: 600,h: 800}]' result-array-image='imageArray'></ui-cropper>
        </div>
        <div class='row'>
            <div class='col'>
                <button class="button button-block button-stable" ng-click="closeModal()">Cancel</button>
            </div>
            <div class='col'>
                <button class="button button-block button-green" ng-click="cropPicture()">Apply</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>