<ion-view view-title="Select Your Photos">

    <ion-nav-buttons side="right">
        <button class="button button-light" style="font-weight:bold;" ng-disabled="form.$invalid" ng-click="vm.continueSetup()">
            SAVE
        </button>
    </ion-nav-buttons>


    <ion-content class="profile-bg">


        <!-- <div class="row row-center"> -->
        <!-- <div class="input-header padding bold">
                PROFILE PHOTO
            </div> -->
        <div class="absolute z-10 full-image">
            <div class="row row-center ">
                <div class="col text-center light text-shadow-dark">
                    PROFILE PHOTO
                </div>
            </div>
            <div class="row profile-block padding">
                <div class="col profile-img text-center">
                    <div ng-hide="vm.profileImg" ng-style="{'height':vm.photoHeight+'px','width':vm.photoWidth+'px'}" class="user-image camera-placeholder margin-auto image-corner-rounded"></div>
                    <div ng-show="vm.profileImg" class="cover margin-auto image-corner-rounded user-profile-pic" ng-style="{'height':vm.photoHeight+'px','width':vm.photoWidth+'px','background-image':'url('+vm.profileImg+')'}"></div>
                </div>
                <!-- <div class="col profile-text">
                        Click on any of the bottom four pictures to edit, delete, add new pictures, or choose a new profile picture.
                    </div> -->
                <div class="edit-profilepic" ng-click="vm.cropProfileImage()">
                    <i class="icon ion-edit light text-xxx-large"></i>
                </div>
            </div>
        </div>
        <div class="margin-bottom-60" ng-class="{'dark-gray-bg': !vm.profileImg, 'blurred-profile cover': vm.profileImg}" ng-style="{'background-image': 'url('+vm.profileImg+')','height':(vm.photoHeight)+'px'}">

        </div>
        <!-- </div> -->


        <div class="row row-center">
            <div class='col bold text-medium text-center'>
                YOUR PORTFOLIO
            </div>
        </div>
        <div class="row row-center ">
            <div class='col center-text-with-icon'>
                <span class="gray">Click</span>
                <span>
                    <i class="icon ion-gear-a text-xx-large theme-color padding-left-5"></i>
                </span>
                <span class="gray padding-left-5"> to </span>
                <span class="bold dark padding-left-5"> Edit </span>
                <span class="gray padding-left-5"> or </span>
                <span class="bold dark padding-left-5"> Set as Profile Picture </span>
            </div>
        </div>


        <div gridster="gridsterOpts">
            <ul>
                <!-- <li ng-if="!vm.publicImagesArray[$index]" 
                            gridster-item="item" 
                            ng-repeat="item in standardItems" 
                            style="min-width:50px;min-height:30px;border:1px solid gray" 
                            ng-style="{'height':vm.photoHeight+'px','width':vm.photoWidth+'px'}" 
                            class="user-image camera-placeholder"
                            on-tap="vm.openActionSheet($index)">
        
                        </li> -->
                <li ng-repeat="item in standardItems" gridster-item="item" style="min-width:50px;min-height:30px;border:1px solid #e0e0e0;border-radius: 10px;"
                    ng-style="{'height':vm.photoHeight+'px','width':vm.photoWidth+'px'}" class="cover" on-tap="vm.openActionSheet($index)">
                    <!-- fix for infinity spinner on Android devices -->
                    <!-- <div style="border-radius: 10px;" cache-src="{{vm.publicImagesArray[$index]}}" src-is="background" class="cover" ng-style="{'height':(vm.photoHeight-2)+'px','width':(vm.photoWidth-2)+'px'}"></div> -->
                    <div class="imgWrapper2" >
                        <img id="imgSetup2" src="{{vm.publicImagesArray[$index]}}" style=" display: block; margin: 0 auto; max-width:100%;
                        max-height:100%;"
                        />
                    </div>
                    <div class="absolute portfolio-gear">
                        <div class="gear-container">
                            <i class="icon ion-gear-a theme-color"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- <div class="block">
            <div class="top">
                <div class="left">
                    <div ng-hide="vm.publicImagesArray[0]" ng-style="{'height':vm.photoHeight+'px','width':vm.photoWidth+'px'}" class="user-image camera-placeholder"
                        ng-click="vm.openActionSheet(0)"></div>

                    <div ng-show="vm.publicImagesArray[0]" class="cover" ng-style="{'height':vm.photoHeight+'px','width':vm.photoWidth+'px','background-image':'url('+vm.publicImagesArray[0]+')'}"
                        ng-click="vm.openActionSheet(0)"></div>
                </div>
                <span class="right">
                    <div ng-hide="vm.publicImagesArray[1]" ng-style="{'height':vm.photoHeight+'px','width':vm.photoWidth+'px'}" class="user-image camera-placeholder"  ng-click="vm.openActionSheet(1)"></div>
                    <div ng-show="vm.publicImagesArray[1]" class="cover" ng-style="{'height':vm.photoHeight+'px','width':vm.photoWidth+'px','background-image':'url('+vm.publicImagesArray[1]+')'}"  ng-click="vm.openActionSheet(1)"></div>
                </span>
            </div>
            <div class="top">
                <div class="left">
                    <div ng-hide="vm.publicImagesArray[2]" ng-style="{'height':vm.photoHeight+'px','width':vm.photoWidth+'px'}" class="user-image camera-placeholder"
                        ng-click="vm.openActionSheet(2)"></div>
                    <div ng-show="vm.publicImagesArray[2]" class="cover" ng-style="{'height':vm.photoHeight+'px','width':vm.photoWidth+'px','background-image':'url('+vm.publicImagesArray[2]+')'}"
                        ng-click="vm.openActionSheet(2)"></div>
                </div>
                <span class="right">
                    <div ng-hide="vm.publicImagesArray[3]" ng-style="{'height':vm.photoHeight+'px','width':vm.photoWidth+'px'}" class="user-image camera-placeholder" ng-click="vm.openActionSheet(3)"></div>
                    <div ng-show="vm.publicImagesArray[3]" class="cover" ng-style="{'height':vm.photoHeight+'px','width':vm.photoWidth+'px','background-image':'url('+vm.publicImagesArray[3]+')'}"  ng-click="vm.openActionSheet(3)"></div>
                </span>
            </div>

        </div> -->
        <div class="row row-center">
            <div class='col text-center'>
                <span ng-if="vm.dragLocked" class="drag-text" ng-click="vm.lockDrag(!vm.dragLocked)">Unlock to re-order photos</span>
                <span ng-if="!vm.dragLocked" class="drag-text">Lock photo order</span>
                <button class="button button-icon icon ion-ios-locked positive" ng-click="vm.lockDrag(!vm.dragLocked)" ng-class="{'ion-ios-locked':ion-ios-locked,'ion-ios-unlocked-outline':!vm.dragLocked}"></button>
            </div>
        </div>
        <div class="input-header padding">
            <p>Drag to reorder photos in the way you'd like prospects to browse them. You only need 2 photos to proceed.</p>
        </div>




    </ion-content>
</ion-view>