.padding-0 {
    padding: 0 !important;
}

.padding-10 {
    padding: 10px !important;
}

.margin-0 {
    margin: 0 !important;
}

.margin-5 {
    margin: 5px !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.padding-top-0 {
    padding-top: 0 !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

/*Bottom-margins and paddings*/
.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-15 {
    padding-bottom: 15px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-25 {
    padding-bottom: 25px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

/*left-margins and paddings*/
.margin-left-0 {
    margin-left: 0 !important;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-25 {
    margin-left: 25px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}

.padding-left-20 {
    padding-left: 20px !important;
}

.padding-left-25 {
    padding-left: 25px !important;
}

.padding-left-30 {
    padding-left: 30px !important;
}

/*right-margins and paddings*/
.margin-right-0 {
    margin-right: 0 !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-25 {
    margin-right: 25px;
}

.margin-right-30 {
    margin-right: 30px;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-25 {
    padding-right: 25px;
}

.padding-right-30 {
    padding-right: 30px;
}

.img-rounded {
    border-radius: 50%;
}

.text-x-small {
    font-size: 0.6em !important;
}

.text-small {
    font-size: 0.8em !important;
}

.text-normal {
    font-size: 1em !important;
}

.text-medium {
    font-size: 1.2em !important;
}

.text-large {
    font-size: 1.4em !important;
}

.text-x-large {
    font-size: 1.6em !important;
}

.text-xx-large {
    font-size: 1.8em !important;
}

.text-xxx-large {
    font-size: 2em !important;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.thin {
    font-weight: lighter;
}

.italic {
    font-style: italic;
}

.ion-nifty-modal {
    position: absolute;
    right: 5%;
    width: 90%;
    min-height: 0 !important;
    /*height: 400px !important;*/
    top: 25%;
    /*bottom: 5%;*/
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.ion-nifty-modal .ion-modal-content-custom {
    width: 100%;
    height: 100%;
    /*border-radius: 10px;*/
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .8;
    }

    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

.border-light {
    border: 1px solid white !important;
}

.border-top-light {
    border-top: 1px solid white !important;
}

.border-bottom-light {
    border-bottom: 1px solid white !important;
}

.border-left-light {
    border-left: 1px solid white !important;
}

.border-right-light {
    border-right: 1px solid white !important;
}

.border-lightgray {
    border: 1px solid lightgray !important;
}

.border-top-lightgray {
    border-top: 1px solid lightgray !important;
}

.border-bottom-lightgray {
    border-bottom: 1px solid lightgray !important;
}

.border-left-lightgray {
    border-left: 1px solid lightgray !important;
}

.border-right-lightgray {
    border-right: 1px solid lightgray !important;
}

.border-dark {
    border: 1px solid #555555 !important;
}

.border-top-dark {
    border-top: 1px solid #555555 !important;
}

.border-bottom-dark {
    border-bottom: 1px solid #555555 !important;
}

.border-left-dark {
    border-left: 1px solid #555555 !important;
}

.border-right-dark {
    border-right: 1px solid #555555 !important;
}

.border-gray {
    border: 1px solid #ccc !important;
}

.border-top-gray {
    border-top: 1px solid #ccc !important;
}

.border-bottom-gray {
    border-bottom: 1px solid #ccc !important;
}

.border-left-gray {
    border-left: 1px solid #ccc !important;
}

.border-right-gray {
    border-right: 1px solid #ccc !important;
}
.border-top-none{
    border-top:none !important;
}
.border-bottom-none{
    border-bottom:none !important;
}
.border-left-none{
    border-left:none !important;
}
.border-right-none{
    border-right:none !important;
}
.justify {
    text-align: justify;
}

.div-center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.div-centered-80 {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.div-centered-90 {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.div-centered-30 {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.div-centered-60 {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.list-no-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.relative {
    position: relative;
}

.parent-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.no-border-radius {
    border-radius: 0 !important;
}

.gray {
    color: gray;
}

.dark-gray {
    color: #444;
}

.padding-horizontal-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.padding-horizontal-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.padding-horizontal-3 {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.ellipsis {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bar-translucent {
    background-color: rgba(0, 0, 0, 0.1);
}

.bar-transparent {
    background-color: transparent !important;
    background-image: none !important;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.floatButton {
    z-index: 50;
    position: fixed;
    bottom: 12%;
    right: 7%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* border: 1px solid #f06424; */
    box-shadow: 1px 2px 5px 1px gray;
    text-align: center;
    background-color: #e22e4d !important;
}

.floatButton.button:before {
    line-height: 60px;
}

.absolute {
    position: absolute;
}

.valign-parent {
    display: table;
    width: 100%;
}

.valign-child {
    display: table-cell;
    vertical-align: middle;
}

.button-fb {
    min-height: 45px;
    background-color: #3b5998;
    color: white;
    margin: 0 !important;
}

.button-google {
    min-height: 45px;
    color: white;
    background-color: #db3236;
    margin: 0 !important;
}

.transparent-bg {
    background-color: transparent;
}

.no-border {
    border: none !important;
}

.half-card {
    box-shadow: 0 0 5px #888;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px;
    position: relative;
}

.half-card.activated {
    box-shadow: none;
    transform: scale(0.95);
    border: 1px solid #ddd;
}

.half-card.otb-pink.activated {
    box-shadow: 0 0 5px #888;
    transform: none;
    border: none;
}

.half-card .icon {
    font-size: 70px;
}

.half-card img {
    height: 80px;
    width: 80px;
    display: block;
    margin: auto;
}

.half-card h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 20px;
    margin: auto;
    color: inherit;
    width: 100%;
    padding: 10px 5px;
}

.lightgray-bg {
    background-color: #d3d3d3;
}

.slide-in-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

.slide-in-right.ng-enter,
.slide-in-right > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active,
.slide-in-right > .ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.slide-in-right.ng-leave,
.slide-in-right > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms; }
.square-button{
    width:40px;
    height: 40px;
    line-height: 40px;
}
.square-button:before{
    line-height: 40px;
}
.overflow-v{
    overflow: visible !important;
}
.overflow-h{
    overflow: hidden;
}
.overflow-s{
    overflow: scroll !important;
}
.float-right{
    float: right;
}
.row-mod{
    white-space: nowrap;
    overflow-x: scroll;
}
.col-mod{
    display: inline-block;
}
.row-inline{
    white-space: normal;
}
.z-depth-0 {
    box-shadow: none !important;
}

.z-depth-1 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-4, .modal {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.z-depth-5 {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.fast-animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.full-height{
    height: 100%;
    /*width: auto;*/
}
.margin-auto{
    margin: auto!important;
}
.light{
    color:white;
}
.text-center{
    text-align: center;
}