td-cards {
  display: block;
  position: relative;
  height: 83%; }
  td-cards td-card {
    display: block;
    position: absolute;
    top: 2%;
    left: 50%;
    margin-left: -48%;
    min-width: 96%;
    min-height: 80%;
    max-width: 96%;
    max-height: 300px;
    border-radius: 6px; }
    td-cards td-card img {
      max-width: 100%;
      max-height: 100%;
      border: 1px solid #11c1f3;
      border-radius: 3px; }
    td-cards td-card .text, td-cards td-card .yes, td-cards td-card .no {
      position: absolute;
      top: 20px;
      padding: 10px;
      font-size: 30px;
      opacity: 0;
      border-radius: 6px;
      text-transform: uppercase; }
    td-cards td-card .yes {
      left: 10px;
      color: #1abc9c;
      border: 2px solid #1abc9c; }
    td-cards td-card .no {
      right: 10px;
      color: #e74c3c;
      border: 2px solid #e74c3c; }
    td-cards td-card .caption {
      background-color: rgba(17, 193, 243, 0.5);
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 10px;
      border-top: 1px solid #11c1f3;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px; }
      td-cards td-card .caption .title {
        color: #fff;
        margin: 0;
        font-size: 18px; }
      td-cards td-card .caption .description {
        color: #fff;
        margin: 0;
        font-size: 14px; }
        td-cards td-card .td-card{
          position: relative;
        }

td-pulse {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center; }
  td-pulse img {
    position: absolute;
    width: 140px;
    height: 140px;
    top: 50%;
    margin-top: -70px;
    margin-left: -70px;
    border-radius: 50%;
    border: 1px solid #e74c3c; }
  td-pulse:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    background: radial-gradient(#fff 25%, #e74c3c);
    z-index: -1;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    opacity: 0;
    border: 2px solid #e74c3c;
    -webkit-animation: pulse 1.5s linear infinite;
    animation: pulse 1.5s linear infinite; }

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    width: 140px;
    height: 140px; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes pulse {
  0% {
    opacity: 0;
    width: 140px;
    height: 140px; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-ms-keyframes pulse {
  td-pulse:after 0% {
    opacity: 0;
    width: 140px;
    height: 140px; }
  td-pulse:after 50% {
    opacity: 1; }
  td-pulse:after 100% {
    opacity: 0; } }

@-o-keyframes pulse {
  0% {
    opacity: 0;
    width: 140px;
    height: 140px; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes pulse {
  0% {
    opacity: 0;
    width: 140px;
    height: 140px; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

td-controls {
  position: relative;
  display: block;
  width: 100%;
  height: 25%;
  text-align: center;
  z-index: 30; }
  td-controls td-control-button {
    margin: 5px -5px;
    /* border: 8px solid #ecf0f1; */
    padding: 8px;
    background-color: #fff;
    top: 5px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 8px rgba(100, 100, 100, 0.5);
    display: inline-block; }
    td-controls td-control-button .button.yes .icon:before {
      color: #1abc9c; }
    td-controls td-control-button .button.no .icon:before {
      color: #e74c3c; }
    td-controls td-control-button .button .icon:before {
      font-size: 40px; }
