.ipad-only{
    display: none;
}
/* .not-ipad{
    display: inherit;
} */
@media only screen and (min-device-width: 768px) {
    /* For general iPad layouts */
    .button.button-block{
        max-width: 90% !important;
        margin: auto !important;
    }
    .ipad-only{
        display: inherit !important;
    }
    .not-ipad{
        display: none !important;
    }
    ion-modal-view{
        width: 100%!important;
        height: 100%!important;
        top: 0!important;
        left: 0!important;
    }
    .whistle {
        margin: 0 auto;
        height: 500px !important;
    }
    td-cards{
        max-width: 600px!important;
        margin: auto!important;
    }
    td-controls{
        width: 70% !important;
        margin: auto !important;
    }
}