.platform-ios .photo-action-sheet .action-sheet-option{
    border-radius: 0 !important;
  }

  .cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:100%;
  }
  .pricing-card {
    margin: 0 20px;
    /* padding: 10px; */
    border-radius: 10px;
    /* border: 1px solid #ddd; */
    box-shadow: 0 0 10px #ddd
  }
  .pricing-card .pricing-title{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .pricing-buttons{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .pricing-buttons .button.left{
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 0!important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
  }
  .pricing-buttons .button.right{
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 10px!important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
  }
  .pricing-buttons .button.single{
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
  }
  .boxer-bg{
    background-image: url('../img/PLayoff-PopUpss_Subscribe.png');
    background-size: cover;
    background-position: center;
  }
  .boxer-bg2{
    background-image: url('../img/PLayoff-PopUpss_Boost.png');
    background-size: cover;
    background-position: center;
  }

  .price-payment {
    position: absolute;
    top: 48%;
    width: 100%;
    text-align: center;
    
  }

  .price-payment-center {
    position: absolute;
    top: 62%;
    font-size: 14px;
    width: 100%;
    text-align: center;
    line-height: 18px;
    color: black;
  }

  .price-payment-bottom {
    font-size: 15px;
    position: absolute;
    top: 82%;
    width: 100%;
    text-align: center;
    color: black;
  }

  .font-bold {
    font-weight: bold;
    line-height: 15px;
  }

  .period-payment-small-letters-down {
    position: absolute;
    font-size: 15px;
    top: 81.7%;
    right: 34vw;
    color: black;
    z-index: 999;
    text-transform: lowercase;
  }

  .period-payment {
    position: absolute;
    font-size: 13.4px;
    top: 54.9%;
    left: 16vw;
    color: black;
    font-weight: 700;
    z-index: 999;
    text-transform: uppercase;
  }

  .period-payment-small-letters {
    position: absolute;
    font-size: 12px;
    top: 69.39%;
    right: 22.9vw;
    color: black;
    /* font-weight: 400; */
    z-index: 999;
    text-transform: lowercase;
  }

  .purchase-modal{
    background: transparent;
    color: white;
  }
  .text-shadow-dark{
    text-shadow: 2px 2px #000;
  }
  .theme-green{
    color: #74F2A2;
  }
  .theme-green-bg{
    background-color: #74F2A2;
  }
  .button.button-theme-green {
    border-color: transparent;
    background-color: #74F2A2;
    color: #444;
  }
  
  .button.button-theme-green:hover {
    color: #444;
    text-decoration: none;
  }
  
  .button.button-theme-green.active, .button.button-theme-green.activated {
    border-color: #a2a2a2;
    background-color: #74F2A2;
  }
  
  .button.button-theme-green.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #74F2A2;
  }
  
  .button.button-theme-green.button-icon {
    border-color: transparent;
    background: none;
  }
  
  .button.button-theme-green.button-outline {
    border-color: #74F2A2;
    background: transparent;
    color: #74F2A2;
  }
  
  .button.button-theme-green.button-outline.active, .button.button-theme-green.button-outline.activated {
    background-color: #74F2A2;
    box-shadow: none;
    color: #444;
  }
  .half-dark-bg-top{
    background: linear-gradient(rgba(0,0,0,0.5) 50%,transparent);
  }
  .half-dark-bg-bottom{
    background: linear-gradient(transparent 10%, rgba(0,0,0,0.5));
  }
  .button.button-clear.yes{
    padding: 0 2px;
  }
  .button.button-light.btn-refresh{
    border-radius: 50% !important;
    padding: 1px 9px;
  }
  .button.button-light.btn-profile{
    border-radius: 50% !important;
    padding: 1px 9px;
  }
  .user-image.camera-placeholder{
    background-image: url('../img/camera2.png');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  .user-profile-pic{
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
  }
  .drag-text{
    line-height: 55px;
    font-weight: lighter;
    font-family: roboto;
    color: gray;
  }


  @-webkit-keyframes swipeBack {
    from {
      -webkit-transform: translate3d(-300px, 500px, 0);
      transform: translate3d(-300px, 500px, 0);
      visibility: hidden;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  }
  @keyframes swipeBack {
    from {
      -webkit-transform: translate3d(-300px, 500px, 0);
      transform: translate3d(-300px, 500px, 0);
      visibility: hidden;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
  }
  .swipeBack {
    -webkit-animation-name: swipeBack;
    animation-name: swipeBack;
    animation-duration: 0.5s;
  }
  .school-search-result{
    position: absolute;
    z-index: 2;
    bottom: 5px;
    width: 96%;
    left: 2%;
    max-height: 200px;
    overflow: scroll;
    box-shadow: 0 0 10px #444;

  }
  .list-shadow .list{
    box-shadow: 0px 0px 25px 0px #aaa;
    border-radius: 18px;
  }
  .bar-shadow{
    box-shadow: 0 1px 10px #ccc;
  }
  .td-buttons{
    top: 9px;
    position: absolute;
    width: 100%;
  }
  .friends_image{
    border: 2px solid #5FFD9C;
    border-radius:50%; 
  }
  .fr_image_div{
    margin-left: -20px;
  }
  .friends_div{
    padding-left: 10px;
    padding-top: 5px;    
  }
  .sport-multi-select{
    border: none;
    /* max-width: 54px; */
    margin-left: auto;
    font-size: 14px;
    display: block;
    padding: 0;
    color: #03a9f4;
    font-family: SANS-SERIF;
  }
  .school-multi-select{
    border: none;
    /* max-width: 54px; */
    margin-left: auto;
    font-size: 14px;
    display: block;
    color: #03a9f4;
    font-family: SANS-SERIF;
  }
  .item-label{
    font-size: 16px;
    line-height: 20px;
  } 
  .school-input{
    border-radius: 5px;
    padding: 2px 10px !important;
  }
  .recent-match-image{
    height: 65px;
    width: 65px;
    border-radius: 40px;
    margin: 5px;
  }
  .row-scroll{
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .col-scroll{
    display: inline-block;
  }
  .day-breaker{
    float: none!important;
    margin: auto !important;
    max-width: 110px !important;
    text-align: center !important;
    background: #eee!important;
    font-weight: bold;
  }
  .chatTime{
    font-family: sans-serif;
    font-size: 12px;
    color: #444;
    right: 5px;
    position: absolute;
    z-index: 0;
    line-height: 40px;
  }
  .chatTimeSlide{
    font-family: sans-serif;
    font-size: 12px;
    color: #444;
    right: -50px;
    position: absolute;
    z-index: 0;
    line-height: 40px;
  }
  .other {
    font-family: sans-serif;
    font-size: 12px;
    color: #444;
    left: 5px;
    position: absolute;
    z-index: 0;
    line-height: 40px;
  }

  .otherOne {
    font-family: sans-serif;
    font-size: 12px;
    color: #444;
    left: 50px;
    position: absolute;
    z-index: 0;
    line-height: 40px;
  }

  .slideOutSender {
    font-family: sans-serif;
    font-size: 12px;
    color: #444;
    left: 50px;
    position: absolute;
    z-index: 0;
    line-height: 40px;
  }

  .data-new {
    right: -60px;
    position: relative;
  }

  .blue {
    width: 80%;
    float: right;
  }
  .red {
    width: 100%;
  }
  
  .chatListAvatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 1px solid #aaa; */
    position: absolute;
    left: 9px;
    top: 11px;
    box-shadow: 1px 0px 5px 1px #aaa;
  }

  .chatbox{
    line-height: 20px!important;
    padding: 16px 0 0 15px!important;
    min-height: 60px;
    resize: none;
  }
  .button-red{
    background-color: #d80000;
    color: white;
  }
  .user-unavailable{
    text-align: center;
    width: 100%;
  }
  .setLocation{
    margin-left: auto;
    margin-right: 20px;
  }
  .unseen-message{
    font-weight: 800 !important;
    color: #222 !important;
    font-family: Heebo-Bold!important;
  }
  .platform-android .theme-gradient{
    background: -webkit-linear-gradient(-90deg, #5FFD9C, #67DBCB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .platform-ios .theme-gradient{
    color: #67DBCB;
  }

.bio-footer {
  height: 144px !important;
  background: #fafafa !important;
}
.bio-content {
  margin-bottom: 144px !important;
}

.profile-setup-error {
  white-space: normal !important;
  max-width: 100% !important;
}

.profile-setup-error span {
  max-width: 100% !important;
  width: 100% !important;
}

.card-text-overflow {
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
  margin-right: 50px!important;
  overflow: hidden!important;
}
.content-scroll-true{
  overflow-y: scroll !important
}
.image-corner-rounded{
  border-radius: 10px;
}
.blurred-profile{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.edit-profilepic{
  background: -webkit-linear-gradient(-90deg, #5FFD9C, #67DBCB);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 9px;
  position: absolute;
  top: 80px;
  right: 20%;
  box-shadow: 2px 2px 5px #444;
}
.theme-color{
  color: #5FFD9C;
}
.center-text-with-icon{
  display: inline-flex;
    align-items: center;
    justify-content: center;
}
.margin-bottom-60{
  margin-bottom: 60px;
}
.portfolio-gear{
  bottom: -15px;
  right: -15px;
}
.portfolio-gear i{
  text-shadow: 1px 1px #666;
  font-size: 2.6em;
  line-height: 1.3em;
}
.portfolio-gear .gear-container{
  height: 50px;
  width: 50px; 
  border-radius: 50%;
  background-color: #f0f0f0; 
  padding-left: 9px;
}
.button-bar {
  position: absolute;
  top: 87%;
  display: flex;
}

.button2 {
  color: black;
  /* padding-left: 12px;
  padding-right: 12px;  */
  font-size: 15px; 
}
.right2 {
  position: absolute;
  right: 13%;
  width: 35%;
  padding-top: 10px; 
  padding-bottom: 10px;
  background-color: #65f5cc;
  border-radius: 5px;
  text-align: center;
}
.left2 {
  position: absolute;
  left: 13%;
  width: 35%;
  padding-top: 10px; 
  padding-bottom: 10px;
  background-color: #65f5cc;
  border-radius: 5px;
  text-align: center;
}

.right3 {
  position: absolute;
  right: 9%;
  width: 40%;
  padding-top: 10px; 
  padding-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  z-index: 999;
}
.left3 {
  position: absolute;
  left: 9%;
  width: 40%;
  padding-top: 10px; 
  padding-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  z-index: 999;
}

.background-color {
  background-color: white;
  display: flex;
}

.img-logo {
  width: 100%;
  background-color: #65f5cc;
  margin-top: 20%;
  display: flex;
  justify-content: center;
}

.img {
  background-color: #65f5cc;
  display: flex;
  position: absolute;
  top: 60px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  justify-content: center;
}

.btn-grp {
  height: 75px;
  width: 100%;
  position: absolute;
  top: 67%;
  display: flex;
}

.btn-left, .btn-right {
  background-color: white;
  position: absolute;
  height: 30px;
  width: 125px;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  top: 30%;
  border-radius: 5px;
  padding-top: 5px;
  
}

.btn-right {
  right: 15%;
}

.btn-left {
  left: 15%;
}  

.btn-left a, .btn-right a {
  font-size: 15px;
  color: #000;
}

.border-horisontal {
  /* position: absolute; */
  /* border-width: 5px; */
  width: 25%;
  height: 2px;
  background-color: #000;
  border-color: #000;
  /* top: 50%; */
  display: flex;
  justify-content: center;
  margin: auto;
}

.border-horisontal-bottom {
  /* position: absolute; */
  /* border-width: 5px; */
  width: 25%;
  height: 2px;
  background-color: #000;
  border-color: #000;
  /* top: 55%; */
  display: flex;
  justify-content: center;
  margin: auto;
}

.content-purchase {
  position: absolute;
  top: 25%;
  height: 50px;
  width: 100%;
  /* display: flex; */
  text-align: center;
  margin: auto;
  background-color: aqua;
}

.display {
  align-content: center;
  justify-content: center;
}

.bold-font h2 {
  font-weight: bold;
}